<div class="container-fluid animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <h3 class="mb-0">
            <h3 class="mb-0">{{ flag }} List</h3>
          </h3>
        </div>
        <div class="col-auto">
          <button
            type="button"
            (click)="navigateTo('/images/image-form', null)"
            class="btn btn-outline-primary"
          >
            <i class="fa fa-plus-circle me-1"></i>
            {{ flag }}
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row mb-2">
        <div class="col-md-5">
          <form class="d-flex">
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
              [(ngModel)]="search"
              [ngModelOptions]="{ standalone: true }"
              (keyup)="refreshList('search')"
            />
            <button
              class="btn btn-outline-danger"
              type="submit"
              (click)="refreshList('clear')"
              ngbTooltip="Clear Filter"
            >
              <i class="fa fa-remove"></i>
            </button>
          </form>
        </div>
      </div>

      <div class="table-responsive">
        <table
          class="table table-striped table-hover table-bordered table-sticky"
        >
          <thead class="table-primary">
            <tr>
              <th>Sr.No.</th>
              <th>Image</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of imageArr; let i = index">
              <td>{{ pageSize * (page - 1) + (i + 1) }}</td>
              <td>
                <img
                  src="{{ u.image }}"
                  alt="course image"
                  height="100"
                  width="150"
                  *ngIf="u.option == 'image'"
                />
                <video
                  width="150"
                  height="100"
                  controls
                  *ngIf="u.option == 'video'"
                >
                  <source src="{{ u.image }}" type="video/mp4" />
                </video>
              </td>
              <td>{{ u.name }}</td>
              <td class="text-nowrap">
                <button
                  (click)="navigateTo('/images/image-form', u.id)"
                  class="btn btn-sm btn-outline-secondary me-1"
                  ngbTooltip="Edit Images"
                >
                  <i class="fa fa-pencil"></i> Edit
                </button>
                <button
                  class="btn btn-sm btn-outline-secondary"
                  data-toggle="modal"
                  (click)="open(u, alertMsg)"
                  ngbTooltip="Delete Images"
                >
                  <i class="fa fa-trash"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-custom-pagination
        [(page)]="page"
        [(pageSize)]="pageSize"
        [(collection)]="collection"
        (myOutput)="onChangePage(page)"
      ></app-custom-pagination>
    </div>
  </div>
</div>

<ng-template #alertMsg let-modal>
  <div class="row mt-3 me-2">
    <div class="col-md-10 col-sm-10"></div>
    <div class="col-md-2 col-sm-2 text-right">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body text-center px-0">
    <img
      src="../../../../assets/img/warning.png"
      class="mb-3"
      width="100"
      alt=""
    />
    <h4 class="text-warning">Are you sure you want to Delete ?</h4>
    <div class="clearfix modal-text">
      <label *ngIf="selectedRow.name">
        <h3>{{ selectedRow.name }}</h3>
      </label>
    </div>
  </div>
  <div class="model-footer border-0 text-center px-0 pb-4">
    <div class="clearfix py-2">
      <button class="btn btn-danger me-2" (click)="delete()">OK</button>
      <button class="btn btn-success" (click)="modal.dismiss('Cross click')">
        Cancel
      </button>
    </div>
  </div>
</ng-template>
