<section id="terms">
  <div class="container">
    <div class="row">
      <div class="card headcard">
        <p class="head">TERMS & CONDITIONS</p>
      </div>
    </div>
    <div class="row">
      <div class="card termcard">
        <div class="subhead">Terms & Conditions</div>
        <div class="body">
          LifeBlood Council takes your privacy seriously and treats all
          financial information about any transaction you have with the Council
          as highly confidential. In addition, LifeBlood Council does not share
          e-mail addresses or phone numbers of any of our donors or
          constituents. The Council deeply values all contributions to sustain
          our mission. To protect the privacy of our donors and their special
          relationship with LifeBlood Council, we maintain the following
          policies: We may request personal information online, such as name,
          address, phone number, email address, and credit card number ONLY for
          the purposes of accepting donations to LifeBlood Council. We will not
          release or use this information for any other purpose unless we have
          your consent. We do not trade or sell your personal information with
          other organisations. We offer donors the option to be recognised
          anonymously. Donors may request, at any time, to not receive our
          solicitations. Donors may request to not receive certain mailings,
          such as our newsletter. We do not track, collect or distribute
          personal information entered by those who visit our website. Personal
          information stored in the LifeBlood Council database is protected with
          a secured login with authentication, assignment of a unique ID to each
          person with computer access, regular pass code changes, and user IDs
          are deactivated or terminated as needed. Our hosting data server
          provides data protection meeting PCI DSS (Payment Card Industry Data
          Security Standard), encrypted communication via SSL (Secure Sockets
          Layer) technology, intrusion detection for all devices and network
          nodes, state-of-the-art firewall infrastructure that detects malicious
          application attacks, virus protection, security and vulnerability
          monitoring and tracking, and SQL server attack protection via
          applications to detect SQL Injection and Cross Site Scripting Attacks.
          To assure that philanthropy merits the respect and trust of the
          general public, and that donors and prospective donors can have full
          confidence in the not-for-profit organisations and causes they are
          asked to support, we assure the following: To be informed of the
          Council’s mission, of the way the Council intends to use donated
          resources and of its capacity to use donations effectively for their
          intended purposes To be informed of the identity of those serving on
          the Council’s governing board and to expect the board to exercise
          prudent judgment in its responsibilities To have access to the
          Council’s most recent financial statements To receive appropriate
          acknowledgment and recognition To be assured that information about
          their donations is handled with respect and with confidentiality to
          the extent provided by law To expect that all relationships with
          individuals representing the Council to the donor will be professional
          To be informed whether those seeking donations are volunteers,
          employees of the organisation or hired solicitors To have the
          opportunity for their names to be deleted from mailing lists that the
          Council may intend to share To feel free to ask questions when making
          a donation and to receive prompt, truthful and forthright answers
        </div>

        <div class="subhead">What information we collect</div>
        <div class="body">
          We use personal information collected from donors for the purposes of
          processing payments and communicating with donors about LifeBlood
          Council as well as conducting the fundraising and other operations of
          LifeBlood Council. This information may include name, amount donated,
          address, PAN number, telephone number, donor comments, e-mail address
          and any other personal information provided to us (“Donor Data”). For
          donations by cheque, Donor Data also includes the data visible on the
          cheque. Information from Payment Processors and Other Service
          Providers: Payment processors allow donors to give electronically
          using a payment services account, a credit card, or other payment
          method. These processors collect certain information from donors, and
          you should consult their privacy policies to determine their
          practices. To provide donors the best possible experience, we work
          with service providers and may share Donor Data and other information
          with, or have it transmitted through, them. Such service providers
          include, for example, collocation facilities and bandwidth providers
          as well as organisations that help non-profit organisations with
          fundraising.
        </div>

        <div class="subhead">How we use that information</div>
        <div class="body">
          Donor Data may be used for these kinds of purposes: Distributing
          receipts and thanking donors for donations Informing donors about
          upcoming fundraising and other activities of LifeBlood Council
          Internal analysis, such as research and analytics Record keeping
          Reporting to applicable government agencies as required by law
          Surveys, metrics, and other analytical purposes Other purposes related
          to the fundraising operations Anonymous donor information may be used
          for promotional and fundraising activities. Comments that are provided
          by donors may be publicly published and may be used in promotional
          materials. We may use available information to supplement the Donor
          Data to improve the information we use to drive our fundraising
          efforts. We may allow donors the option to have their name publicly
          associated with their donation unless otherwise requested as part of
          the online donation process. We use data gathered for payment
          processors and other service providers only for the purposes described
          in this policy.
        </div>

        <div class="subhead">Contact us</div>
        <div class="body">
          If you have questions about this Donor Privacy Policy or requests
          about the status and correctness of your donor data, please contact <br>
          Jankalyan A-101, Valmiki Apartments, Sunder Nagar,
          Raipur, Chhatisgarh 400 098 | Ph: +91 98201 46448 | E-mail:
          jankalyan@gamil.com
        </div>


      </div>
    </div>
  </div>
</section>
