ion-card {
  border-radius: 15px;
  box-shadow: 2px 4px 9px #7e2212;
}

.drop {
  position: relative;
  display: flex;
  align-items: center;

  ion-card-title {
    position: absolute;
    top: 52%;
    left: 46%;
    color: white;
    font-size: 14px;
    font-weight: bold;
    transform: translateY(-50%);
  }
}
.name {
  font-weight: 800;
}
.refresh-btn{
  width: 36px;
}
.btn-col {
  display: flex;
  align-items: end;
  .detail-btn {
    font-size: 0.5rem;
    background-color: #c56959 !important;
  }
}

.donar-container {
  display: flex;
 
}

i{
  color: #c56959 !important;
  height: 10px !important;
}

@media (max-width: 405px) {
  ion-card{
    max-height: 159px;
  }

  ion-label{
    font-size: 11px;
  }
  .align-status{
    margin-top: 0;
  }
  .name{
    font-size: 14px;
    font-weight: 600;
  }
}


.selected {
  background-color: #7e2212; 
  color: white;
}

.filter-btn{
  width: 36px;
  // margin-left: 3rem;
}
.ion-button{
  font-weight: 11px;
}
