<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- <ion-back-button slot="start" default-href="/layout"></ion-back-button>
    <ion-title>Blood Donations</ion-title> -->
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="1" class="ion-margin-end">
          <ion-back-button default-href="/layout/home"></ion-back-button>
        </ion-col>
        <ion-col size="6">
          <ion-title class="ion-no-padding">{{'bloodDonation' | translate}}</ion-title>
        </ion-col>
        <ion-col size="2">
          <img class="filter-btn" src="../../../../../assets/filter.png" alt="filter" id="open-modal" expand="block">
          <ion-content class="ion-padding">
            <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary" style="display: flex; justify-content: space-between; align-items: center;">
                    <ion-title style="flex-grow: 1; text-align: start;">{{'applyFilter' | translate}}</ion-title>
                    <ion-buttons slot="end" style="position: absolute; right: 0;">
                      <ion-button style="font-size: 14px;"  (click)="cancel()">{{'cancel' | translate}}</ion-button>
                    </ion-buttons>
                  </ion-toolbar>                  
                </ion-header>
                <ion-content class="ion-padding">
                  <ion-item>
                    <ion-grid>
                      <ion-row class="ion-padding-bottom">
                        <ion-label>{{'bloodGroup' | translate}}</ion-label>
                      </ion-row>
                      <ion-row class="ion-padding-bottom">
                        <ion-button 
                          size="small" 
                          fill="outline" 
                          *ngFor="let group of bloodGroup" 
                          [ngClass]="{'selected': selectedBloodGroups.includes(group)}"
                          (click)="toggleBloodGroup(group)">
                          {{group}}
                        </ion-button>
                      </ion-row>
                      <!-- <ion-row class="ion-padding-bottom">
                        <ion-label>Blood Type</ion-label>
                      </ion-row>
                      <ion-row class="ion-padding-bottom">
                        <ion-button 
                          size="small" 
                          fill="outline" 
                          *ngFor="let type of bloodType" 
                          [ngClass]="{'selected': selectedBloodTypes.includes(type)}"
                          (click)="toggleBloodType(type)">
                          {{type}}
                        </ion-button>
                      </ion-row> -->
                      <ion-row class="ion-padding-bottom">
                        <ion-label>{{'bloodBankName' | translate}}</ion-label>
                      </ion-row>
                      <ion-row class="ion-padding-bottom">
                        <ion-col size="12">
                          <ion-item class="input-class mt-3" lines="none">
                            <ion-input label-placement="stacked" type="text" placeholder="{{'enterBloodBankName' | translate}}" [(ngModel)]="bloodBankName">
                            </ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row class="ion-padding-bottom">
                        <ion-label>{{'bloodDonationDate' | translate}}</ion-label>
                      </ion-row>
                      <ion-row class="ion-align-items-center ion-justify-content-center">
                        <ion-col size="12">
                          <ion-item class="input-class">
                            <ion-label *ngIf="!donationDate" position="floating" labelPlacement="stacked">{{'donationDate' | translate}}</ion-label>
                            <p class="ion-margin-end">{{donationDate | date}}</p>
                            <ion-icon slot="end" color="primary" name="calendar-outline" datetime="datetime" class="ion-margin-top"
                              (click)="openCalender('donationDate')"></ion-icon>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-content>
                <ion-footer>
                  <ion-toolbar>
                    <ion-grid>
                      <ion-row class="ion-padding-horizontal">
                        <ion-col class="ion-text-center">
                          <ion-button expand="block" (click)="clearSelections()">
                            {{'clear' | translate}}
                          </ion-button>
                        </ion-col>
                        <ion-col class="ion-text-center">
                          <ion-button expand="block" (click)="confirm()" [strong]="true">
                            {{'confirm' | translate}}
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-toolbar>
                </ion-footer>
              </ng-template>
            </ion-modal>
          </ion-content>
        </ion-col>
        
        
        
               
        <ion-col size="2" (click)="refreshData()">
          <img class="refresh-btn" src="../../../../../assets/new-refresh.png" alt="refresh">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="loader; else otherContent">
    <app-skeleton></app-skeleton>
  </div>
  <ng-template #otherContent>
    <!-- <ion-searchbar></ion-searchbar> -->
    <div>
      <ion-item class="mt-2" lines="none">
        <ion-segment [(ngModel)]="activeSegment" [scrollable]="true">
          <ion-segment-button value="latest">
            <ion-label class="ion-text-capitalize">{{'latest' | translate}}</ion-label>
          </ion-segment-button>

          <ion-segment-button value="history">
            <ion-label class="ion-text-capitalize">{{'history' | translate}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    <ion-searchbar></ion-searchbar>

      <div [ngSwitch]="activeSegment">
        <div *ngSwitchCase="'latest'">
          <ng-container *ngIf="latestTabDetails.length > 0;else noDataLatest ">
            <ion-card
              *ngFor="let l of latestTabDetails ; let i = index"
              (click)="openModel('latest',l)"
            >
              <ion-card-content class="ion-no-padding">
                <ion-grid>
                  <ion-row>
                    <ion-col size="3" class="drop">
                      <img src="../../../../../assets/bloodHand.gif" alt="" />
                      <ion-card-title>{{l?.bloodGroup}}</ion-card-title>
                    </ion-col>
                    <ion-col size="6">
                      <ion-label class="name">{{l?.name}}</ion-label>
                      <div class="ion-margin-top">
                        <i class="fa-solid fa-location-dot"></i>
                        <ion-label class="donar"
                          >{{l?.district +', '+l?.state}}</ion-label
                        >
                      </div>
                      <div class="ion-margin-top donar-container">
                        <div>
                          <i class="fa-solid fa-user"></i>
                          <ion-label class="donar">Donor</ion-label>
                        </div>
                        <div class="ion-padding-start">
                          <i class="fa-solid fa-person-half-dress"></i>
                          <ion-label class="donar">{{l?.gender}}</ion-label>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col size="3" class="ion-text-end ion-align-items-center">
                      <ion-button
                        *ngIf="user.role=='ADMIN' && l.status=='DONE'"
                        (click)="close($event,l.id,i)"
                      >
                        Close</ion-button
                      >
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-end">
                      <ion-label
                        *ngIf="!(user.role=='ADMIN' && l.status=='DONE')"
                        [ngClass]="{'status-pending': l?.status == 'PENDING','status-allocated ' : l?.status == 'ALLOCATED','status-received': l.status== 'RECEIVED','status-done' : l?.status == 'DONE','status-accepted' : l.status == 'ACCEPTED' ,'status-close': l.status=='CLOSE'}"
                        >{{l?.status}}</ion-label
                      >
                      <!-- <ng-container *ngIf="user.role == 'ADMIN' && l.status == 'DONE'">
                        <ion-label>{{ l?.acceptor?.firstName }}</ion-label>
                        <button (click)="close(l.id)">Close</button>
                      </ng-container> -->

                      
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ng-container>
          <ng-template #noDataLatest>
            <app-no-data></app-no-data>
          </ng-template>
        </div>
        <div *ngSwitchCase="'history'">
          <ng-container *ngIf="historyTabDetails.length > 0 ;else noDataHistory">
            <ion-card
              *ngFor="let h of historyTabDetails"
              (click)="openModel('history',h)"
            >
              <ion-card-content class="ion-no-padding">
                <ion-grid>
                  <ion-row>
                    <ion-col size="3" class="drop">
                      <img src="../../../../../assets/bloodHand.gif" alt="" />
                      <ion-card-title>{{h?.bloodGroup}}</ion-card-title>
                    </ion-col>
                    <ion-col size="6">
                      <ion-label class="name">{{h?.name }}</ion-label>
                      <div class="ion-margin-top">
                        <i class="icons-img fa-solid fa-location-dot"></i>
                        <ion-label class="donar"
                          >{{h?.district +', '+h?.state}}</ion-label
                        >
                      </div>
                      <div class="ion-margin-top donar-container">
                        <div>
                          <i class="fa-solid fa-user"></i>
                          <ion-label class="donar">Donor</ion-label>
                        </div>
                        <div class="ion-padding-start">
                          <i
                            class="icons-img fa-solid fa-person-half-dress"
                          ></i>
                          <ion-label class="donar">{{h?.gender}}</ion-label>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                 <ion-row class="ion-justify-content-end
                 ">
                  <ion-label>
                    {{h.donationDate}}
                  </ion-label>
                 </ion-row>

                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ng-container>
          <ng-template #noDataHistory>
            <app-no-data></app-no-data>
          </ng-template>
        </div>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content  loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
</ion-content>
