<!-- <div class="body_01">
  <img class="logo_01" src="./assets/logo.jpeg" alt="" />
  <div class="highlight">
    <h1>Congratulations !!</h1>
    <p>You can <span>Save</span> up to</p>
    <p>Rs. 6250/-</p>
  </div>
  <div class="center_part_01">
    <div class="adv_01"></div>
    <div class="consumer_details">
      <div class="detail_01">
        <p>Consumer Name -&nbsp;</p>
        <p>Shri Awadhut Joshi</p>
      </div>
      <div class="detail_01">
        <p>Consumer No. -&nbsp;</p>
        <p>367324074105</p>
      </div>
      <div class="detail_01">
        <p>Address -&nbsp;</p>
        <p>SHENDOLAKHURD SHENDOLA KHURD 44903</p>
      </div>
      <div class="detail_01">
        <p>Meter Type -&nbsp;</p>
        <p>LT</p>
      </div>
      <div class="detail_01">
        <p>Sanctioned Load -&nbsp;</p>
        <p>5 KW</p>
      </div>

      <div class="detail_01">
        <p>Type of Residence -&nbsp;</p>
        <p>House</p>
      </div>
      <div class="detail_01">
        <p>Billing Unit Code -&nbsp;</p>
        <p>42977</p>
      </div>
      <div class="detail_01">
        <p>Service Provider -&nbsp;</p>
        <p>MSCDCL</p>
      </div>
    </div>
  </div>
  <div class="bottom_part_01">
    <div class="bill_analysis">
      <h1>Bill Analysis :</h1>
      <div class="chart-wrapper">
        <div class="chart"></div>
        <div class="chart">
          <h2>Seasonal Usage</h2>
          <img class="chart-img" src="" alt="" />
        </div>
        <div class="chart">
          <h2>Seasonal Usage</h2>
          <img class="chart-img" src="" alt="" />
        </div>
      </div>
      <div class="bottom-details">
        <div class="detail_01">
          <p>Total year consumption kWH :&nbsp;</p>
          <p>42977</p>
        </div>
        <div class="detail_01">
          <p>Average Monthly consumption kWH :&nbsp;</p>
          <p>42977</p>
        </div>
        <div class="detail_01">
          <p>Average load kWH :&nbsp;</p>
          <p>42977</p>
        </div>
      </div>
    </div>
    <div class="adv_02"></div>
  </div>
  <div class="footer"></div>
</div> -->
<!-- 
<div class="body_02">
  <img class="logo_01" src="./assets/logo.jpeg" alt="" />
  <div class="main">
    <div class="top-row">
      <div class="text">
        <p>Where</p>
        <p class="center">YouCan</p>
        <p class="right">SAVE....</p>
      </div>
      <div class="observed">
        <h2>observed</h2>
      </div>
      <div class="standard"><h2>standard</h2></div>
      <div class="remark"><h2>remark</h2></div>
    </div>
    <table>
      <tbody class="tbody">
        <tr class="table-body">
          <td class="col-1">Sanction Load <br />per Sq. ft.</td>
          <td class="col-2">0.2-Watt</td>
          <td class="col-3">4 Watt</td>
          <td class="col-4">In Limit</td>
        </tr>
        <tr class="highlighted table-body">
          <td class="col-1">Avg. Utilization</td>
          <td class="col-2">158%</td>
          <td class="col-3">54%</td>
          <td class="col-4">Saving Opportunity</td>
        </tr>
        <tr class="table-body">
          <td class="col-1">Per Capital consumption<br />Unit/year (Units)</td>
          <td class="col-2">282.8%</td>
          <td class="col-3">750</td>
          <td class="col-4">In Limit</td>
        </tr>
        <tr class="highlighted table-body">
          <td class="col-1">The Energy Performance<br />Index (EPI) (Units)</td>
          <td class="col-2">41</td>
          <td class="col-3">40</td>
          <td class="col-4">Saving Opportunity</td>
        </tr>
        <tr class="table-body">
          <td class="col-1">Meter functioning</td>
          <td class="col-2">Normal</td>
          <td class="col-3">Normal</td>
          <td class="col-4">In Limit</td>
        </tr>
        <tr class="highlighted table-body">
          <td class="col-1">Average billing is done<br />(Months)</td>
          <td class="col-2">2</td>
          <td class="col-3">0</td>
          <td class="col-4">Saving Opportunity</td>
        </tr>
        <tr class="table-body">
          <td class="col-1">No Load Utilization<br />(Months)</td>
          <td class="col-2">0</td>
          <td class="col-3">0</td>
          <td class="col-4">In Limit</td>
        </tr>
        <tr class="highlighted table-body">
          <td class="col-1">Reading<br />conducted</td>
          <td class="col-2">Irregular</td>
          <td class="col-3">Regular</td>
          <td class="col-4">Saving Opportunity</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="opportunity-wrapper">
    <div class="opportunity-box">
      <h2>Saving Opportunity</h2>
      <table>
        <tbody class="tbody">
          <tr class="table-head">
            <td>Season</td>
            <td class="oppo">Opportunity</td>
            <td>Amount (Rs.)</td>
          </tr>
          <tr class="table-body">
            <td>Summer</td>
            <td>54%</td>
            <td>2534</td>
          </tr>
          <tr class="table-body">
            <td>Winter</td>
            <td>14%</td>
            <td>780</td>
          </tr>
          <tr class="table-body">
            <td>Rainy</td>
            <td>34%</td>
            <td>150</td>
          </tr>
        </tbody>
      </table>
      <hr class="hr" />
      <div class="table-body">
        <h4>Annual Saving</h4>
        <h4></h4>
        <h4>11962 RS</h4>
      </div>
    </div>
    <div class="adv_01"></div>
  </div>
  <div class="bottom"></div>
  <div class="footer"></div>
</div> -->

<div class="body_01 mb-5">
  <div class="page-1 pb-5">
    <div class="row mb-4 pt-3 ps-4">
      <div class="col-6">
        <img class="img-fluid logo_01" src="../../../../assets/pdfImg/logo.jpeg" alt="" />
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-4">
      <div class="col-8 d-flex highlight">
        <h1>Congratulations !!</h1>
        <p>You can <span>Save</span> up to</p>
        <p>
          Rs.{{
          billData?.existing?.bills[0]?.observation?.costOptimization?.amount
          }}/-
        </p>
      </div>
    </div>
    <div class="row center_part_01 mb-4">
      <div class="col-2 h-100">
        <img class="img-fluid w-100 h-100" src="../../../../assets/pdfImg/pageOneAdOne.jpeg" alt="" />
      </div>
      <div class="col-10">
        <div class="consumer_details">
          <div class="detail_01 d-flex">
            <p>Consumer Name -&nbsp;</p>
            <p>{{ billData?.existing?.consumerName }}</p>
          </div>
          <div class="detail_01 d-flex">
            <p>Consumer No. -&nbsp;</p>
            <p>{{ billData?.existing?.consumerNo }}</p>
          </div>
          <div class="detail_01 d-flex">
            <p class="text-nowrap">Address :-&nbsp;</p>
            <p>{{ billData?.existing?.address }}</p>
          </div>
          <div class="detail_01 d-flex">
            <p>Meter Type -&nbsp;</p>
            <p>{{ billData?.existing?.billType }}</p>
          </div>
          <div class="detail_01 d-flex">
            <p>Sanctioned Load -&nbsp;</p>
            <p>{{ billData?.existing?.sanctionedLoad }}</p>
          </div>

          <div class="detail_01 d-flex">
            <p>Type of Residence -&nbsp;</p>
            <p>{{ billData?.existing?.consumerType }}</p>
          </div>
          <div class="detail_01 d-flex">
            <p>Billing Unit Code -&nbsp;</p>
            <p>{{ billData?.existing?.billUnit }}</p>
          </div>
          <div class="detail_01 d-flex">
            <p>Service Provider -&nbsp;</p>
            <p>MSCDCL</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center px-1 bottom_part_01">
      <div class="col-9 mr-3">
        <div class="bill_analysis">
          <h1>Bill Analysis :</h1>
          <div class="chart-wrapper">
            <div class="chart"></div>
            <div class="chart">
              <h4>Cost Sharing</h4>
              <img class="chart-img img-fluid" src="{{ billData?.pdf?.Cost }}" alt="" />
            </div>
            <div class="chart">
              <h4>Seasonal Usage</h4>
              <img class="chart-img img-fluid" src="{{ billData?.pdf?.Seasonal }}" alt="" />
            </div>
          </div>
          <div class="row justify-content-center bottom-details">
            <div class="col-8">
              <div class="detail_01 d-flex">
                <p>Total year consumption kWH :&nbsp;</p>
                <p>
                  {{
                  billData?.existing?.bills[0]?.observation?.yearlyConsumption
                  }}
                </p>
              </div>
              <div class="detail_01 d-flex">
                <p>Average Monthly consumption kWH :&nbsp;</p>
                <p>
                  {{
                  billData?.existing?.bills[0]?.observation
                  ?.monthlyConsumption
                  }}
                </p>
              </div>
              <div class="detail_01 d-flex">
                <p>Average load kWH :&nbsp;</p>
                <p>
                  {{ billData?.existing?.bills[0]?.observation?.averageLoad }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 h-100">
        <img class="w-100 img-fluid h-100" src="../../../../assets/pdfImg/pageOneAdOne.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="body_02">
  <div class="row mb-3 pt-3 ps-4">
    <div class="col-4">
      <img class="img-fluid logo_01" src="../../../../assets/pdfImg/logo.jpeg" alt="" />
    </div>
  </div>
  <div class="row main">
    <div class="col-12">
      <div class="row top-row">
        <div class="col-3 text">
          <p>Where</p>
          <p class="center">YouCan</p>
          <p class="right">SAVE....</p>
        </div>
        <div class="col-3 observed">
          <h2>observed</h2>
        </div>
        <div class="col-3 standard">
          <h2>standard</h2>
        </div>
        <div class="col-3 remark">
          <h2>remark</h2>
        </div>
      </div>
      <table class="table highlighted table-borderless">
        <tbody class="w-100">
          <div *ngIf="
          billData?.existing?.billType == 'LT' &&
          billData?.existing?.consumerType == 'Industrial'
        ">
          <tr>
            <th>unit consumption/{{billData?.existing?.bills[0]?.observation?.unitConsumption?.unit}}</th>
            <td class="text-center" [class.mark]="
              conditionArray.includes(
                billData?.existing?.bills[0]?.observation?.unitConsumption?.remark
              )
            ">
              {{
              billData?.existing?.bills[0]?.observation?.unitConsumption
              ?.observation
              }}
            </td>
            <td class="text-center">
              {{
              billData?.existing?.bills[0]?.observation?.unitConsumption?.standard
              }}
            </td>
            <td class="text-center">
              {{ billData?.existing?.bills[0]?.observation?.unitConsumption?.remark }}
            </td>
          </tr>
          <tr>
            <th>Charges/{{billData?.existing?.bills[0]?.observation?.charges?.unit}}</th>
            <td class="text-center" [class.mark]="
              conditionArray.includes(
                billData?.existing?.bills[0]?.observation?.charges?.remark
              )
            ">
              {{
              billData?.existing?.bills[0]?.observation?.charges
              ?.observation
              }}
            </td>
            <td class="text-center">
              {{
              billData?.existing?.bills[0]?.observation?.charges?.standard
              }}
            </td>
            <td class="text-center">
              {{ billData?.existing?.bills[0]?.observation?.charges?.remark }}
            </td>
          </tr>
        </div>
          <tr>
            <th>The Energy Performance<br />Index (EPI) (Units)</th>
            <td class="text-center" [class.mark]="
                conditionArray.includes(
                  billData?.existing?.bills[0]?.observation?.EPI?.remark
                )
              ">
              {{ billData?.existing?.bills[0]?.observation?.EPI?.observation }}
            </td>
            <td class="text-center">
              {{ billData?.existing?.bills[0]?.observation?.EPI?.standard }}
            </td>
            <td class="text-center">
              {{ billData?.existing?.bills[0]?.observation?.EPI?.remark }}
            </td>
          </tr>
        
            <ng-container *ngIf="
            billData?.existing?.billType == 'LT' &&
            billData?.existing?.consumerType != 'Industrial'
          ">
              <tr class="w-100">
                <th>Sanction Load <br />per Sq. ft.</th>
                <td class="text-center" [class.mark]="
                conditionArray.includes(
                  billData?.existing?.bills[0]?.observation?.sanctionLoadPerSqft
                    ?.remark
                )
              ">
                  {{
                  billData?.existing?.bills[0]?.observation?.sanctionLoadPerSqft
                  ?.observation
                  }}
                </td>
                <td class="text-center">
                  {{
                  billData?.existing?.bills[0]?.observation?.sanctionLoadPerSqft
                  ?.standard
                  }}
                </td>
                <td class="text-center">
                  {{
                  billData?.existing?.bills[0]?.observation?.sanctionLoadPerSqft
                  ?.remark
                  }}
                </td>
              </tr>
              <tr>
                <th>Meter functioning</th>
                <td class="text-center" [class.mark]="
                conditionArray.includes(
                  billData?.existing?.bills[0]?.observation?.meterStatus?.remark
                )
              ">
                  {{
                  billData?.existing?.bills[0]?.observation?.meterStatus
                  ?.observation
                  }}
                </td>
                <td class="text-center">
                  {{
                  billData?.existing?.bills[0]?.observation?.meterStatus?.standard
                  }}
                </td>
                <td class="text-center">
                  {{
                  billData?.existing?.bills[0]?.observation?.meterStatus?.remark
                  }}
                </td>
              </tr>
              <tr>
                <th>Per Capital consumption<br />Unit/year (Units)</th>
                <td class="text-center" [class.mark]="
                conditionArray.includes(
                  billData?.existing?.bills[0]?.observation
                    ?.perCapitaConsumption?.remark
                )
              ">
                  {{
                  billData?.existing?.bills[0]?.observation?.perCapitaConsumption
                  ?.observation
                  }}
                </td>
                <td class="text-center">
                  {{
                  billData?.existing?.bills[0]?.observation?.perCapitaConsumption
                  ?.standard
                  }}
                </td>
                <td class="text-center">
                  {{
                  billData?.existing?.bills[0]?.observation?.perCapitaConsumption
                  ?.remark
                  }}
                </td>
              </tr>
              <tr>
                <th>Avg. Utilization</th>
                <td class="text-center" [class.mark]="
                conditionArray.includes(
                  billData?.existing?.bills[0]?.observation?.avgUtilization
                    ?.remark
                )
              ">
                  {{
                  billData?.existing?.bills[0]?.observation?.avgUtilization
                  ?.observation
                  }}
                </td>
                <td class="text-center">
                  {{
                  billData?.existing?.bills[0]?.observation?.avgUtilization
                  ?.standard
                  }}
                </td>
                <td class="text-center">
                  {{
                  billData?.existing?.bills[0]?.observation?.avgUtilization
                  ?.remark
                  }}
                </td>
              </tr>
  
            </ng-container>
          

          <tr>
            <th>Average billing is done<br />(Months)</th>
            <td class="text-center" [class.mark]="
                conditionArray.includes(
                  billData?.existing?.bills[0]?.observation?.avgBilling?.remark
                )
              ">
              {{
              billData?.existing?.bills[0]?.observation?.avgBilling
              ?.observation
              }}
            </td>
            <td class="text-center">
              {{
              billData?.existing?.bills[0]?.observation?.avgBilling?.standard
              }}
            </td>
            <td class="text-center">
              {{
              billData?.existing?.bills[0]?.observation?.avgBilling?.remark
              }}
            </td>
          </tr>
          <tr>
            <th>No Load Utilization<br />(Months)</th>
            <td class="text-center" [class.mark]="
                conditionArray.includes(
                  billData?.existing?.bills[0]?.observation?.noLoad?.remark
                )
              ">
              {{
              billData?.existing?.bills[0]?.observation?.noLoad?.observation
              }}
            </td>
            <td class="text-center">
              {{ billData?.existing?.bills[0]?.observation?.noLoad?.standard }}
            </td>
            <td class="text-center">
              {{ billData?.existing?.bills[0]?.observation?.noLoad?.remark }}
            </td>
          </tr>
          <tr>
            <th>Reading<br />conducted</th>
            <td class="text-center" [class.mark]="
                conditionArray.includes(
                  billData?.existing?.bills[0]?.observation?.readingStatus
                    ?.remark
                )
              ">
              {{
              billData?.existing?.bills[0]?.observation?.readingStatus
              ?.observation
              }}
            </td>
            <td class="text-center">
              {{
              billData?.existing?.bills[0]?.observation?.readingStatus
              ?.standard
              }}
            </td>
            <td class="text-center">
              {{
              billData?.existing?.bills[0]?.observation?.readingStatus?.remark
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="
      billData?.existing?.billType == 'LT' &&
      billData?.existing?.consumerType == 'Commercial' 
    " class="row main Commercial">
    <div class="col-12">
      <div class="row top-row">
        <div class="col-3 text">
          <p class="right">Consumption</p>
          <p class="center">Requirement</p>
        </div>
        <div class="col-3 observed ms-5 me-0">
          <h2>kWh</h2>
        </div>
        <div class="col-3 standard p-1 me-5">
          <h2 class="text-center">% of Total Consumption</h2>
        </div>
      </div>
      <table class="table table1 highlighted table-borderless">
        <tbody class="w-100">
          <tr class="w-100">
            <th>Lighting Consumption</th>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.lightConsumption?.kwh}}</td>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.lightConsumption?.percent}}</td>
          </tr>
          <tr>
            <th>Ventilation Consumption</th>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.ventilationConsumption?.kwh}}</td>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.ventilationConsumption?.percent}}</td>
          </tr>
          <tr>
            <th>Ac Consumption</th>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.acConsumption?.kwh}}</td>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.acConsumption?.percent}}</td>
          </tr>
          <tr></tr>
          <tr>
            <th>Total Essential Consumption</th>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.totalEssentialConsumption?.kwh}}</td>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.totalEssentialConsumption?.percent}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="
    billData?.existing?.billType == 'LT' &&
    billData?.existing?.consumerType == 'Industrial'
  " class="row main Commercial">
    <div class="col-12">
      <div class="row top-row">
        <div class="col-3 text">
          <p class="right">Consumption</p>
          <p class="center">Requirement</p>
        </div>
        <div class="col-3 observed ms-5 me-0">
          <h2>kWh</h2>
        </div>
        <div class="col-3 standard p-1 me-5">
          <h2 class="text-center">% of Total Consumption</h2>
        </div>
      </div>
      <table class="table table1 highlighted table-borderless">
        <tbody class="w-100">
          <tr class="w-100">
            <th>Lighting & Ventilation Consumption</th>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.lightConsumption?.kwh +
              billData?.existing?.bills[0]?.observation?.ventilationConsumption?.kwh}}</td>
            <td class="text-center"></td>
          </tr>
          <tr>
            <th>Other Equipment Consumption</th>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.totalEquipmentConsumption?.kwh}}</td>
            <td class="text-center"></td>
          </tr>
          <tr></tr>
          <tr>
            <th>Total Essential consumption</th>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.totalEssentialConsumption?.kwh}}</td>
            <td class="text-center">{{billData?.existing?.bills[0]?.observation?.totalEssentialConsumption?.percent}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="row d-flex justify-content-center mb-4">
    <div class="opportunity-wrapper">
      <div class="col-9 opportunity-box">
        <h2>TOD Opportunity</h2>
        <table class="w-100">
          <tbody class="tbody">
            <tr class="table-body">
              <td>Tod Benefit</td>
              <td>
                {{
                  billData?.existing?.bills[0]?.observation
                    ?.summerLoadOptimization?.percent
                }}
              </td>
            </tr>
            <tr class="table-body">
              <td>TOD Penalty</td>
              <td>
                {{
                  billData?.existing?.bills[0]?.observation
                    ?.winterLoadOptimization?.amount
                }}
              </td>
            </tr>
            <tr class="table-body">
              <td>TOD Effective Charges</td>
              <td>
                {{
                  billData?.existing?.bills[0]?.observation
                    ?.rainyLoadOptimization?.amount
                }}
              </td>
            </tr>
            <tr class="table-body">
              <td>TOD Benefit can be achived</td>
              <td>
                {{
                  billData?.existing?.bills[0]?.observation
                    ?.rainyLoadOptimization?.amount
                }}
              </td>
            </tr>
            <tr class="table-body">
              <td>PF Insentive</td>
              <td>
                {{
                  billData?.existing?.bills[0]?.observation
                    ?.rainyLoadOptimization?.amount
                }}
              </td>
            </tr>
            <tr class="table-body">
              <td>PF Penalty</td>
              <td>
                {{
                  billData?.existing?.bills[0]?.observation
                    ?.rainyLoadOptimization?.amount
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-2 adv_01"></div>
    </div>
  </div> -->
  <div *ngIf="
  billData?.existing?.billType == 'LT' &&
  billData?.existing?.consumerType == 'Industrial'
" class="row d-flex justify-content-center">
    <div class="opportunity-wrapper">
      <div class="col-9">
        <div class="row">
          <!-- Condition here -->
          <div class="col-12 opportunity-box mb-3">
            <h2>TOD Opportunity</h2>
            <table class="w-100">
              <tbody class="tbody">
                <tr class="table-body">
                  <td>Tod Benefit</td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.todOpportunity?.todBenefit
                    }}
                  </td>
                </tr>
                <tr class="table-body">
                  <td>TOD Penalty</td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.todOpportunity?.todPenalty
                    }}
                  </td>
                </tr>
                <tr class="table-body">
                  <td>TOD Effective Charges</td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.todOpportunity?.todEffectiveCharges
                    }}
                  </td>
                </tr>
                <tr class="table-body">
                  <td>TOD Benefit can be achived</td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.todOpportunity?.todBenefitAchieved
                    }}
                  </td>
                </tr>
                <tr class="table-body">
                  <td>PF Insentive</td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.todOpportunity?.pfIncentive
                    }}
                  </td>
                </tr>
                <tr class="table-body">
                  <td>PF Penalty</td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.todOpportunity?.pfPenalty
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 opportunity-box">
            <h2>Saving Opportunity</h2>
            <table class="w-100">
              <tbody class="tbody">
                <tr class="table-head">
                  <td>Season</td>
                  <td class="oppo">Opportunity</td>
                  <td>Amount (Rs.)</td>
                </tr>
                <tr class="table-body">
                  <td>Summer</td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.summerLoadOptimization?.percent
                    }}
                  </td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.summerLoadOptimization?.amount
                    }}
                  </td>
                </tr>
                <tr class="table-body">
                  <td>Winter</td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.winterLoadOptimization?.percent
                    }}
                  </td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.winterLoadOptimization?.amount
                    }}
                  </td>
                </tr>
                <tr class="table-body">
                  <td>Rainy</td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.rainyLoadOptimization?.percent
                    }}
                  </td>
                  <td>
                    {{
                    billData?.existing?.bills[0]?.observation
                    ?.rainyLoadOptimization?.amount
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
            <hr class="hr" />
            <div class="table-body">
              <h5>Annual Saving</h5>

              <h4>
                {{
                billData?.existing?.bills[0]?.observation?.costOptimization
                ?.amount
                }}
                Rs
              </h4>
            </div>
          </div>

        </div>
      </div>
      <div class="col-2 adv_01"></div>
    </div>
  </div>
  <div class="row w-100 d-flex justify-content-center mt-3 mb-3">
    <div class="col-10">
      <div class="bottom px-2">
        <label *ngIf="billData?.existing?.bills[0]?.observation?.reason.length > 0">Reason :-
          <span *ngFor="let r of billData.existing.bills[0]?.observation.reason">{{ r }} ,</span>So Exact saving can not
          be calculated</label>
        <ng-container *ngIf="billData?.existing?.bills[0]?.observation?.reason.length == 0">
          <h3>
            {{
            billData?.existing?.bills[0]?.observation?.costOptimization
            .percent
            }}% saving can be achieved
          </h3>
          <ul>
            <li>By optimizing the load</li>
            <li>By improving the operational culture</li>
            <li>By implementing atomization</li>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="footer row w-100">
    <div class="col-12 mb-2">
      <div class="footer-strip"></div>
    </div>
    <div class="col-12">
      <div class="footer-strip"></div>
    </div>
  </div>
</div>