<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container-fluid p-0">
      <!-- <img class="navbar-brand" src="" alt="Jankalyan" /> -->
      <h3 class="ms-5">Jankalyan</h3>
      <button
        class="navbar-toggler border border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#home" (click)="toggleCollapse()"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" (click)="routeTo('about', 'about')" (click)="toggleCollapse()"
            [class.selected]="selectedLink === 'about'"
              >About</a
            >
          </li>         
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" (click)="routeTo('gallery', 'gallery')" (click)="toggleCollapse()"
            [class.selected]="selectedLink === 'gallery'"
            >Gallery</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/donate" (click)="routeTo('donate', 'donate')" (click)="scrollToTop()" (click)="toggleCollapse()" 
            [class.selected]="selectedLink === 'donate'"  
            >Donate Blood</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/request" (click)="routeTo('request', 'request')" (click)="scrollToTop()" (click)="toggleCollapse()"
            [class.selected]="selectedLink === 'request'"  
            >Request Blood</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home"  (click)="toggleCollapse()" id="contact1" (click)="routeTo('footer', 'footer')"
            [class.selected]="selectedLink === 'footer'"  
            >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  