nav {
    background-color: rgba(250, 231, 231, 0.65);
    // background-color: #f5ebeb;
    height: 70px;
    .navbar-brand {
      width: 150px;
      height: 100%;
    }
    .navbar-toggler {
      color: transparent !important;
    }
    .collapse{
      margin-right: 2rem;
    }
  }
  nav ul {
    li a {
      // color: #403a3a !important;
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      color: rgb(186, 35, 35);
      &:hover {
        color: rgb(165, 42, 42);
      }
    }
  }
  
  @media (max-width: 986px) {
    nav {
      .navbar-brand {
        width: 43%;
        height: 100%;
      }
      .collapse{
        margin-right: 0;
      }
    }
    nav ul {
      background-color: #cabdbd8e;
    }
  }
  