<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" default-href="/layout/home"></ion-back-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="card">
  <form [formGroup]="registrationForm">
    
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col class="logo">
            <img src="../../../assets/bloodLogo.jpg" alt="LOGO" />
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-bottom">
          <ion-label class="text">Registration Form</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="10">
            <ion-item  fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked">First Name</ion-label>
              <ion-input autoComplete="off" placeholder="First Name" formControlName="firstName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="10">
            <ion-item  fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked">Last Name</ion-label>
              <ion-input autoComplete="off" placeholder="Last Name" formControlName="lastName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="10">
            <ion-item  fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked">Mobile Number</ion-label>
              <ion-input autocomplete="off" placeholder="Mobile Number" formControlName="mobileNo"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="10">
            <ion-item  fill="outline" class="input">
              <ion-label position="floating">Password</ion-label>
              <ion-input autocomplete="off" type="password" placeholder="Password" formControlName="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="10">
            <ion-button expand="block" shape="round" class="button ion-padding" color="primary" (click)="register()">Register</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
   
  </form>
</div>
</ion-content>

