ion-lable {
  font-weight: bolder;
}

ion-card-title {
  font-size: small;
  font-weight: bolder;
  text-align: center;
}

.tabs {
  ion-card {
    height: 90%;
  }
  ion-card img {
    width: 100%;
    height: 120px;
  }
  ion-card-header {
    height: auto;
  }
}
.slide-img{
  height: 100%;
  width: 100%;
}
