<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button
      slot="start"
      defaultHref=""
      (click)="dismiss()"
    ></ion-back-button>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-accordion-group value="first" class="ion-padding">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <i class="fa-solid fa-file-lines"></i>
        <ion-label class="ion-padding-horizontal">Blood Bank Details</ion-label>
      </ion-item>
      <div class="ion-padding accordion-collapsed" slot="content">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Bank Name </ion-label>
                  <ion-label> : {{data?.bloodBankName}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Location </ion-label>
                  <ion-label> : {{data?.location}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Donation Date </ion-label>
                  <ion-label> : {{data?.donationDate}}</ion-label>
                </ion-col>
              </ion-row>
             
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="second" *ngIf="!!data.bloodRequest">
      <ion-item slot="header" color="light">
        <i class="fa-solid fa-droplet"></i>
        <ion-label  class="ion-padding-horizontal">Beneficiary</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Name</ion-label>
                  <ion-label>: {{data?.bloodRequest?.name}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Age</ion-label>
                  <ion-label>: {{data?.bloodRequest?.age}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Gender</ion-label>
                  <ion-label>: {{data?.bloodRequest?.gender}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Group</ion-label>
                  <ion-label>: {{data?.bloodRequest?.bloodGroup}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Require Date</ion-label>
                  <ion-label>: {{data?.bloodRequest?.bloodRequireDate}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">State</ion-label>
                  <ion-label>: {{data?.bloodRequest?.state}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!!data?.bloodRequest.district">
                <ion-col size="12">
                  <ion-label class="head">District</ion-label>
                  <ion-label>: {{data?.bloodRequest?.district}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!!data?.bloodRequest.tahsil">
                <ion-col size="12">
                  <ion-label class="head">Tehsil</ion-label>
                  <ion-label>: {{data?.bloodRequest?.tahsil}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!!data?.bloodRequest.village">
                <ion-col size="12">
                  <ion-label class="head">Village</ion-label>
                  <ion-label>: {{data?.bloodRequest?.village}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Father/Husband</ion-label>
                  <ion-label>: {{data?.bloodRequest?.fatherOrHusband}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Hemoglobin</ion-label>
                  <ion-label>: {{data?.bloodRequest?.hemoglobin}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Illness</ion-label>
                  <ion-label>: {{data?.bloodRequest?.illness}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Location</ion-label>
                  <ion-label>: {{data?.bloodRequest?.location}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Mobile Number</ion-label>
                  <ion-label>: {{data?.bloodRequest?.mobileNo}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Units</ion-label>
                  <ion-label>: {{data?.bloodRequest?.units}}</ion-label>
                </ion-col>
              </ion-row>
            
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <i class="fa-solid fa-user"></i>
        <ion-label  class="ion-padding-horizontal">Personal Details</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">First Name</ion-label>
                  <ion-label> : {{data?.name}}</ion-label>
                </ion-col>

                <ion-col size="12">
                  <ion-label class="head">Gender</ion-label>
                  <ion-label> : {{data?.gender}}</ion-label>
                </ion-col>

                <ion-col size="12">
                  <ion-label class="head">Age</ion-label>
                  <ion-label> : {{data?.age}}</ion-label>
                </ion-col>

                <ion-col size="12">
                  <ion-label class="head">State</ion-label>
                  <ion-label> : {{data?.state}}</ion-label>
                </ion-col>

                <ion-col size="12" *ngIf="!!data.district">
                  <ion-label class="head">District</ion-label>
                  <ion-label> : {{data?.district}}</ion-label>
                </ion-col>

                <ion-col size="12" *ngIf="!!data.tahsil">
                  <ion-label class="head">Tehsil</ion-label>
                  <ion-label> : {{data?.tahsil}}</ion-label>
                </ion-col>

                <ion-col size="12" *ngIf="!!data.village">
                  <ion-label class="head">Village</ion-label>
                  <ion-label> : {{data?.village}}</ion-label>
                </ion-col>

                <ion-col size="12">
                  <ion-label class="head">Blood Group</ion-label>
                  <ion-label> : {{data?.bloodGroup}}</ion-label>
                </ion-col>

                <ion-col size="12">
                  <ion-label class="head">Hemoglobin</ion-label>
                  <ion-label> : {{data?.hemoglobin}}</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-label class="head">Mobile No</ion-label>
                  <ion-label> : {{data?.mobileNo}}</ion-label>
                </ion-col>

                <ion-col size="12">
                  <ion-label class="head">Donation Date</ion-label>
                  <ion-label> : {{data?.donationDate}}</ion-label>
                </ion-col>

                <ion-col size="12">
                  <ion-label class="head">Location</ion-label>
                  <ion-label> : {{data?.location}}</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-icon
                    *ngIf="data?.donor?.illness"
                    name="checkbox"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="!data?.donor?.illness"
                    name="close"
                  ></ion-icon>
                  <ion-label class="head donor-illness">Illness</ion-label>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Donar Details</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-input label="First Name" value=": Anushka Kalbande" [readonly]="true">
            </ion-input>
          </ion-col>

          <ion-col size="6">
            <ion-input label="Gender" value=": Female" [readonly]="true"> </ion-input>
          </ion-col>

          <ion-col size="6">
            <ion-input label="Age" value=": 0" [readonly]="true"> </ion-input>
           
          </ion-col>

          <ion-col size="6">
            <ion-label class="head">State</ion-label>
            <ion-label> : string</ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="head">City</ion-label>
            <ion-label> : string</ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="head">Blood Group</ion-label>
            <ion-label> : A_POSITIVE</ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="head">Hemoglobin</ion-label>
            <ion-label> : 0</ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-label class="head">Illness</ion-label>
            <ion-label> : string</ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-label class="head">Mobile No</ion-label>
            <ion-label> : string</ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="head">Units</ion-label>
            <ion-label> : 0</ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-label class="head">Donation Date</ion-label>
            <ion-label> : 2024-03-23T06:48:44.318Z</ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-label class="head">Location</ion-label>
            <ion-label> : string</ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="head">Gender</ion-label>
            <ion-label> : MALE</ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-label class="head">Illness</ion-label>
            <ion-label> : true</ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-label class="head">User</ion-label>
            <ion-label> :</ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-label class="head">Email</ion-label>
            <ion-label> : string</ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-label class="head">Last Name</ion-label>
            <ion-label> : string</ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="head">Role</ion-label>
            <ion-label> : ADMIN</ion-label>
          </ion-col>

          <ion-col size="6">
            <ion-label class="head">Status</ion-label>
            <ion-label> : ACTIVE</ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-label class="head">Token</ion-label>
            <ion-label> : string</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->
</ion-content>
