<section class="count">
    <div class="row ">
        <div class="col-4">
            <div class="card border-0">
                <div class="card-body">
                  <h4 class="card-title h4 programme-degree"><u>MA</u></h4>
                  <p class="card-text font-weight-bold programme-title lead">International Relations</p>
                  <p class="card-text programme-summary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card border-0">
                <div class="card-body">
                  <h4 class="card-title h4 programme-degree"><u>MA</u></h4>
                  <p class="card-text font-weight-bold programme-title lead">International Relations</p>
                  <p class="card-text programme-summary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card border-0">
                <div class="card-body">
                  <h4 class="card-title h4 programme-degree"><u>MA</u></h4>
                  <p class="card-text font-weight-bold programme-title lead">International Relations</p>
                  <p class="card-text programme-summary">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</section> 