<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" (click)="navigate()" default-href=""></ion-back-button>
    <ion-title class="ion-justify-content-center">{{'donate' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="bloodDonateForm">
    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input input-class">
              <!-- <ion-label position="floating" labelPlacement="stacked">
                {{'Name' | translate }}
              </ion-label> -->
              <ion-input label="{{ 'Name' | translate }}" label-placement="stacked" [readonly]="true" type="text" placeholder="Full name"
                  formControlName="name">
                </ion-input>
              <!-- <ion-input aria-label="{{ 'Name' | translate }}" [readonly]="true" placeholder="Full Name"
                formControlName="name"></ion-input> -->
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input input-class">
              <!-- <ion-label position="floating" labelPlacement="stacked">
                {{'age' | translate }}</ion-label>
              <ion-input placeholder="Age" label-placement="floating" formControlName="age" type="number"></ion-input> -->
              <ion-input label="{{'age' | translate }}" label-placement="floating" [readonly]="true" type="text" placeholder="Age"
              formControlName="age">
            </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input-class">
              <ion-select aria-label="Fruit" interface="action-sheet" placeholder="{{'select gender' | translate}}"
                formControlName="gender" (ionChange)="checkGender()">
                <ion-select-option value="MALE">Male</ion-select-option>
                <ion-select-option value="FEMALE">Female</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isFemale" class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input input-class" lines="none">
              <ion-input label="Father/Husband" label-placement="floating" [readonly]="true" type="text" placeholder="Father/Husband"
              formControlName="fatherOrHusband"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input-class">
              <ion-label *ngIf="!f['donationDate'].value" position="floating" labelPlacement="stacked">{{'donationDate'
                | translate }}</ion-label>
              <p class="ion-margin-end">{{f['donationDate'].value | date}}</p>
              <ion-icon slot="end" color="primary" name="calendar-outline" datetime="datetime" class="ion-margin-top"
                (click)="openCalender('donationDate')"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input input-class">
              <!-- <ion-label position="floating" labelPlacement="stacked">{{'mobileNo' | translate }}</ion-label> -->
              <ion-input label="{{'mobileNo' | translate }}" label-placement="floating" [readonly]="true" placeholder="mobileNo" formControlName="mobileNo" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input-class">
              <!-- <ion-label position="floating" labelPlacement="stacked">{{'bloodgroup' | translate }}</ion-label> -->
              <ion-input label="{{'bloodgroup' | translate }}" label-placement="floating" [readonly]="true" placeholder="Blood Group" formControlName="bloodGroup"></ion-input>
              <!-- <ion-select
              
                aria-label="Fruit"
                interface="action-sheet"
                placeholder="{{'select bloodgroup' | translate}}"
                formControlName="bloodGroup"
              >
                <ion-select-option
                
                  *ngFor="let item of bloodGroup"
                  value="{{item}}"
                  >{{item}}</ion-select-option
                >
              </ion-select> -->
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input input-class">
              <!-- <ion-label position="floating" labelPlacement="stacked"
                >{{'hemoglobin' | translate }}</ion-label
              >
              <ion-input
                placeholder="hemoglobin"
                formControlName="hemoglobin"
              ></ion-input> -->
              <ion-select aria-label="Hemoglobin" interface="action-sheet" placeholder="Select Hemoglobin"
                formControlName="hemoglobin">
                <ion-select-option *ngFor="let item of hemoglobin" value="{{item}}">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input input-class">
              <!-- <ion-label position="floating" labelPlacement="stacked">
                {{'state' | translate }}</ion-label> -->
              <ion-input label="{{'state' | translate }}" label-placement="floating" [readonly]="true" placeholder="State" label-placement="floating"
                formControlName="state"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input input-class">
              <!-- <ion-label position="floating" labelPlacement="stacked">
                {{'District' | translate }}</ion-label> -->
              <ion-input label="{{'District' | translate }}" label-placement="floating" [readonly]="true" placeholder="District" label-placement="floating"
                formControlName="district"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input input-class">
              <!-- <ion-label position="floating" labelPlacement="stacked">
                {{'Tahsil' | translate }}</ion-label> -->
              <ion-input label="{{'Tahsil' | translate }}" label-placement="floating" [readonly]="true" placeholder="Tahsil" label-placement="floating"
                formControlName="tehsil"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item class="input input-class">
              <!-- <ion-label position="floating" labelPlacement="stacked">
                {{'Village' | translate }}</ion-label> -->
              <ion-input label="{{'Village' | translate }}" label-placement="floating" [readonly]="true" placeholder="Village" label-placement="floating"
                formControlName="village"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline">
              <ion-label position="floating" labelPlacement="stacked"
                >{{'state' | translate  }}
              </ion-label>
              <ionic-selectable
                item-content
                class="ion-text-capilatize"
                #selectableState
                [items]="states"
                itemTextField="name"
                itemValueField="name"
                [canSearch]="true"
                (onChange)="getCity($event)"
                [hasConfirmButton]="true"
                [hasInfiniteScroll]="true"
              >
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar class="bg-color-2">
                    <ion-buttons slot="start">
                      <ion-button
                        class="text-color-4"
                        (click)="selectableState.close()"
                      >
                        <ion-icon name="arrow-back-outline"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                    <ion-title
                      class="text-color-4 ion-text-capitalize ion-text-wrap"
                    >
                      State
                    </ion-title>
                  </ion-toolbar>
                </ng-template>
                <ng-template ionicSelectableItemTemplate let-port="item">
                  <ion-label class="ion-text-capitalize ion-text-wrap">
                    {{port?.name}}
                  </ion-label>
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row> -->

        <!-- <ion-row *ngIf="isCity"  class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12" class="ion-justify-content-between">
            <ion-item fill="outline">
              <ion-label position="floating" labelPlacement="stacked">
                {{'city' | translate  }}
              </ion-label>
              <ionic-selectable
                item-content
                class="ion-text-capilatize"
                #selectableCity
                [items]="cities"
                itemTextField="name"
                itemValueField="name"
                [canSearch]="true"
                [hasConfirmButton]="true"
                [hasInfiniteScroll]="true"
                (onChange)="setCity($event)"
                disabled="disabledCity"
              >
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar class="bg-color-2">
                    <ion-buttons slot="start">
                      <ion-button
                        class="text-color-4"
                        (click)="selectableCity.close()"
                      >
                        <ion-icon name="arrow-back-outline"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                    <ion-title
                      class="text-color-4 ion-text-capitalize ion-text-wrap"
                    >
                      City
                    </ion-title>
                  </ion-toolbar>
                </ng-template>
                <ng-template ionicSelectableItemTemplate let-port="item">
                  <ion-label class="ion-text-capitalize ion-text-wrap">
                    {{port?.name}}
                  </ion-label>
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>
   -->

        <!-- <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="12">
      <ion-item fill="outline">
        <ion-label position="floating" labelPlacement="stacked"
          >{{'state' | translate}}
        </ion-label>
        <ionic-selectable
          item-content
          class="ion-text-capilatize"
          #selectableState
          itemTextField="name"
          itemValueField="name"
          [canSearch]="true"
          [hasConfirmButton]="true"
          [hasInfiniteScroll]="true"
        >
          <ng-template ionicSelectableHeaderTemplate>
            <ion-toolbar class="bg-color-2">
              <ion-buttons slot="start">
                <ion-button
                  class="text-color-4"
                  (click)="selectableState.close()"
                >
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title
                class="text-color-4 ion-text-capitalize ion-text-wrap"
              >
              state
              </ion-title>
            </ion-toolbar>
          </ng-template>
         
        </ionic-selectable>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="12">
      <ion-item fill="outline">
        <ion-label position="floating" labelPlacement="stacked"
          >District
        </ion-label>
        <ionic-selectable
          item-content
          class="ion-text-capilatize"
          #selectableState
          itemTextField="name"
          itemValueField="name"
          [canSearch]="true"
          [hasConfirmButton]="true"
          [hasInfiniteScroll]="true"
        >
          <ng-template ionicSelectableHeaderTemplate>
            <ion-toolbar class="bg-color-2">
              <ion-buttons slot="start">
                <ion-button
                  class="text-color-4"
                  (click)="selectableState.close()"
                >
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title
                class="text-color-4 ion-text-capitalize ion-text-wrap"
              >
              district
              </ion-title>
            </ion-toolbar>
          </ng-template>
          
        </ionic-selectable>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="12">
      <ion-item fill="outline">
        <ion-label position="floating" labelPlacement="stacked"
          >Tehsil
        </ion-label>
        <ionic-selectable
          item-content
          class="ion-text-capilatize"
          #selectableState
          
          itemTextField="name"
          itemValueField="name"
          [canSearch]="true"
          [hasConfirmButton]="true"
          [hasInfiniteScroll]="true"
        >
          <ng-template ionicSelectableHeaderTemplate>
            <ion-toolbar class="bg-color-2">
              <ion-buttons slot="start">
                <ion-button
                  class="text-color-4"
                  (click)="selectableState.close()"
                >
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title
                class="text-color-4 ion-text-capitalize ion-text-wrap"
              >
              tehsil
              </ion-title>
            </ion-toolbar>
          </ng-template>
         
        </ionic-selectable>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="12">
      <ion-item fill="outline">
        <ion-label position="floating" labelPlacement="stacked"
          >Village
        </ion-label>
        <ionic-selectable
          item-content
          class="ion-text-capilatize"
          #selectableState
          
          itemTextField="name"
          itemValueField="name"
          [canSearch]="true"
          [hasConfirmButton]="true"
          [hasInfiniteScroll]="true"
        >
          <ng-template ionicSelectableHeaderTemplate>
            <ion-toolbar class="bg-color-2">
              <ion-buttons slot="start">
                <ion-button
                  class="text-color-4"
                  (click)="selectableState.close()"
                >
                  <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title
                class="text-color-4 ion-text-capitalize ion-text-wrap"
              >
              village
              </ion-title>
            </ion-toolbar>
          </ng-template>
         
        </ionic-selectable>
      </ion-item>
    </ion-col>
  </ion-row> -->

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-checkbox formControlName="illness" labelPlacement="end" justify="start" label="Do you have any type of illness">
              Do you have any type ofillness
            </ion-checkbox>
          </ion-col>
          <ion-col size="1">
            <ion-checkbox [(ngModel)]="isTermsAgreed" [ngModelOptions]="{standalone: true}" justify="start"
              labelPlacement="end" aria-label="Terms and Condition">
            </ion-checkbox>
          </ion-col>
          <ion-col size="11">
            I agree to the
            <ion-text color="primary"><span (click)="handleModal(true)">Terms and Condition</span></ion-text>
            of Donation
            <!-- <ion-icon name="information-circle-outline" class="info-terms" color="dark"></ion-icon> -->
          </ion-col>
        </ion-row>

        <ion-modal [isOpen]="setModal" [backdropDismiss]="false" id="example-modal">
          <ng-template>
            <ion-grid class="ion-padding">
              <ion-list class="top-sec">
                <ion-text> Terms And Conditions </ion-text>
              </ion-list>
              <ion-list>
                <ion-text> 1] You weigh at least 50 kg. </ion-text>
              </ion-list>
              <ion-list>
                <ion-text>
                  2] You cannot donate if you have a cold, flu,stomach bug or
                  any other infection.
                </ion-text>
              </ion-list>
              <ion-list>
                <ion-text> 3] You are aged between 18 and 65. </ion-text>
              </ion-list>

              <ion-list>
                <ion-text>
                  4] Travel to areas where mosquito-borne infections are
                  endemic, e.g. malaria,
                </ion-text>
              </ion-list>

              <ion-list>
                <ion-text>
                  5] Following pregnancy, the deferral period should last as
                  many months as the duration of the pregnancy.
                </ion-text>
              </ion-list>

              <ion-list>
                <ion-button expand="block" class="button" color="primary" (click)="acceptTermsAndCond()">Accept &
                  Continue</ion-button>
              </ion-list>
            </ion-grid>
            <!-- </ion-content> -->
          </ng-template>
        </ion-modal>

        <!-- <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-bottom">
          <ion-col size="12">
            <ion-checkbox #openModalCheckbox justify="start" id="open-modal" expand="block" (ionChange)="isTermsAgreed = $event.detail.checked">
           Terms and Conditions
            </ion-checkbox>
            <ion-content class="ion-padding">
              <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
                <ng-template>
                  <ion-header>
                    <ion-toolbar class="ion-justify-content-center ion-padding-start">
                      <ion-title >Terms & Conditions</ion-title>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <ion-item>
                      <p>{{ message }}</p>
                    </ion-item>
                  </ion-content>
                  <ion-tabs>
                    <ion-tab-bar slot="bottom">
                      <ion-tab-button (click)="cancel()">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                        Cancel
                      </ion-tab-button>
                      <ion-tab-button (click)="confirm()">
                        <ion-icon name="checkmark-done-outline"></ion-icon>
                        Confirm
                      </ion-tab-button>
                    </ion-tab-bar>
                  </ion-tabs>
                </ng-template>
              </ion-modal>
            </ion-content>
          </ion-col>
        </ion-row> -->

        <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top">
          <ion-col size="12">
            <ion-button expand="block" shape="round" class="button ion-padding" color="primary"
              [disabled]="!isTermsAgreed" (click)="create()">{{'submit'| translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>

  <!-- <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime"  formControlName="donationDate"></ion-datetime>
    </ng-template>
  </ion-modal> -->
</ion-content>