<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <img
          class="img-fluid"
          src="../../../assets/gallery/landing.jpg"
          alt=""
          class="landing-img w-100"
        />
      </div>
    </div>
  </div>
</section>

<section class="count">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <div class="card-head">{{ bloodcollectnumber }}+</div>
            <div class="card-title">Blood unit collected</div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <div class="card-head">{{ bloodIssueNumber }}+</div>
            <div class="card-title">Blood unit issued</div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <div class="card-head">{{ campNumber }} +</div>
            <div class="card-title">Camps Held</div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <div class="card-head">{{ campNumber }} +</div>
            <div class="card-title">Camps Held</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-about></app-about>

<section>
  <div class="chart">
    <img src="../../../assets/gallery/chart.jpg" alt="" class="chartimg">
  </div>
</section>

<app-gallery></app-gallery>


<section id="footer">

</section>
