* {
  padding: 0;
  margin: 0;
}

.landing-img {
  height: 100vh;
}

.count {
  // background-color: #f5ebeb;
  background-color: #fff4f0;
  .container-fluid {
    justify-content: center;
    padding: 0rem 6rem;
    margin-bottom: -4rem;

    .card {
      // margin-top: 2rem;
      margin-left: 3rem;
      padding: 1rem;
      width: 200px;
      height: 150px;
      background: lightgray;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      color: #000000;
      border-radius: 40px;
      position: relative;
      transition: all 0.7s ease-in-out;
      overflow: hidden;
      .card-head {
        text-align: center;
        font-family: Champion Gothic;
        font-size: 50px;
      }
      .card-title {
        text-align: center;
        font-family: "poppins";
        font-size: 18px;
      }
    }
    .card::before {
      content: "";
      position: absolute;
      height: 40%;
      width: 100%;
      background-color: #da142b;
      transform: translatey(120px);
      border-radius: 100%;
      transition: all 0.8s ease-in-out;
    }
    .card-body {
      z-index: 2;
    }
    .card:hover::before {
      transform: scale(7) translate(-20px);
    }
    .card:hover {
      // box-shadow: 1px -10px 500px 500px #9fe4e44a;
      color: #fff;
    }
  }
}

.about {
  // background-color: #b88e8e;
  background-color: #ffffff;
  .container-fluid {
    background-color: #ecb3b9;
    .row {
      .text {
        margin-top: 5rem;
        .head {
          font-family: Champion Gothic;
          font-size: 50px;
          color: #aa0806;
        }
        .body-text {
          padding: 1rem 2rem;
          text-align: justify;
          font-family: "Helvetica";
          font-size: 18px;
          .title {
            font-family: "Helvetica";
            font-size: 20px;
            margin-left: 10px;
          }
        }
      }
      .img {
        margin-top: 5rem;
        height: 20rem;
        width: 30rem;
        padding: 2rem 0rem;
      }
      .img2 {
        margin-top: 3rem;
        height: 20rem;
        width: 30rem;
        padding: 2rem 0rem;
        margin-left: 2rem;
      }
    }
  }
}

.chart {
  text-align: center;
  .chartimg {
    height: 40rem;
  }
}

.gallery {
  background-color: #f5ebeb;
  .container-fluid {
    // padding: 0rem 2rem;
    .row {
      .text-center {
        margin-top: 1rem;
        font-family: Champion Gothic;
        font-size: 50px;
        color: #aa0806;
      }
    }
    .row {
      .img-fluid {
        height: 20rem;
        padding: 10px;
      }
    }
  }
}

@media (max-width: 1050px) {
  .count {
    .container-fluid {
      margin-bottom: -4rem;
      .card {
        margin-left: 1rem;
        padding: 1rem;
        width: 180px;
        height: 130px;
        border-radius: 40px;
        .card-head {
          font-size: 40px;
        }
        .card-title {
          font-size: 18px;
        }
      }
    }
  }
  .about {
    .container-fluid {
      .row {
        .text {
          margin-top: 5rem;
          .head {
            // font-family: Champion Gothic;
            font-size: 45px;
          }
          .body-text {
            padding: 1rem 2rem;
            // font-family: "Helvetica";
            font-size: 16px;
            .title {
              // font-family: "Helvetica";
              font-size: 18px;
              margin-left: 10px;
            }
          }
        }
        .img {
          margin-top: 7rem;
          height: 18rem;
          width: 20rem;
          padding: 2rem 0rem;
        }
        .img2 {
          margin-top: 3rem;
          height: 18rem;
          width: 20rem;
          padding: 2rem 0rem;
          margin-left: 2rem;
        }
      }
    }
  }
}

@media (max-width: 955px) {
  .count {
    .container-fluid {
      margin-bottom: -4rem;
      .card {
        margin-left: 0.3rem;
        padding: 1rem;
        width: 150px;
        height: 130px;
        border-radius: 30px;
        .card-head {
          font-size: 30px;
        }
        .card-title {
          font-size: 15px;
        }
      }
    }
  }

  .about {
    .container-fluid {
      .row {
        .img {
          margin-top: 7rem;
          height: 18rem;
          width: 18rem;
          padding: 2rem 0rem;
        }
        .img2 {
          margin-top: 3rem;
          height: 18rem;
          width: 18rem;
          padding: 2rem 0rem;
        }
      }
    }
  }
}

@media (max-width: 865px) {
  .about {
    .container-fluid {
      .row {
        .text {
          margin-top: 5rem;
          .head {
            font-size: 40px;
          }
          .body-text {
            padding: 0rem 1rem;
            font-size: 15px;
            .title {
              font-size: 16px;
            }
          }
        }
        .img {
          margin-top: 7rem;
          height: 16rem;
          width: 15rem;
          padding: 2rem 0rem;
        }
        .img2 {
          margin-top: 3rem;
          height: 16rem;
          width: 15rem;
          padding: 2rem 0rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .landing-img {
    height: 80vh;
  }
  .count {
    .container-fluid {
      margin-bottom: -4rem;
      .card {
        margin-left: -0.2rem;
        padding: 5px;
        width: 130px;
        height: 110px;
        border-radius: 30px;
        .card-head {
          font-size: 30px;
        }
        .card-title {
          font-size: 15px;
        }
      }
    }
  }
  .chart {
    .chartimg {
      height: 30rem;
    }
  }
}
@media (max-width: 760px) {
  .about {
    .container-fluid {
      .row {
        .text {
          margin-top: 3rem;
          .head {
            font-size: 35px;
          }
          .body-text {
            padding: 0rem 1rem;
            font-size: 14px;
            margin-bottom: 1rem;
            .title {
              font-size: 15px;
            }
          }
        }
        .img {
          margin-top: 0rem;
          height: 12rem;
          width: 18rem;
          padding: 1rem 2rem;
        }
        .img2 {
          margin-top: 0rem;
          height: 12rem;
          width: 18rem;
          padding: 1rem 2rem;
          margin-left: 0rem;
          margin-bottom: -3rem;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .landing-img {
    margin-top: 4.4rem;
    height: 40vh;
  }
  .count {
    .container-fluid {
      margin-bottom: -3rem;
      padding: 5px;
      .card {
        margin-left: 0.3rem;
        padding: 5px;
        width: 80px;
        height: 80px;
        border-radius: 30px;
        .card-head {
          font-size: 20px;
        }
        .card-title {
          font-size: 10px;
        }
      }
    }
  }
  .chart {
    .chartimg {
      height: 23rem;
      width: 23rem;
    }
  }
}
@media (max-width: 350px) {
  .landing-img {
    margin-top: 4.4rem;
    height: 30vh;
  }
  .count {
    .container-fluid {
      margin-bottom: -2rem;
      padding: 5px;
      .card {
        margin-left: 0.5rem;
        padding: 10px;
        width: 60px;
        height: 50px;
        border-radius: 20px;
        .card-head {
          font-size: 15px;
        }
        .card-title {
          font-size: 8px;
        }
      }
    }
  }
  .chart {
    .chartimg {
      height: 20rem;
      width: 20rem;
    }
  }
}
