<section>
  <div class="container">
    <div class="head">Request For Blood</div>
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-4 col-sm-12 col-xs-12">
        <img
          src="../../../assets/gallery/requestblood.png"
          alt=""
          class="img-fluid"
        />
      </div>

      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <form [formGroup]="requestForm">
          <div class="container">
            <div *ngIf="formSubmitted && requestForm.invalid" class="error-message">
              Form is invalid. Please fill in all required fields.
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="mb-3">
                  <div class="inputBox">
                    <input
                      type="text"
                      required="required"
                      formControlName="name"
                    />
                    <span class="user">Name</span>
                    <div
                    *ngIf="requestForm.get('name')!.invalid && (requestForm.get('name')!.dirty || requestForm.get('name')!.touched)"
                    style="color: red;">
                    <div *ngIf="requestForm.get('name')!.errors?.['required']">
                      Name is required.
                    </div>
                  </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="inputBox">
                    <input
                      type="number"
                      required="required"
                      formControlName="mobileNo"
                    />
                    <span class="user">Mobile No.</span>
                    <div
                    *ngIf="
                      requestForm.get('mobileNo')!.invalid &&
                      (requestForm.get('mobileNo')!.dirty ||
                      requestForm.get('mobileNo')!.touched)
                    "
                    style="color: red"
                  >
                    <div *ngIf="requestForm.get('mobileNo')!.errors?.['required']">
                      Mobile number is required.
                    </div>
                    <div *ngIf="requestForm.get('mobileNo')!.errors?.['pattern']" >
                      Please enter a valid 10-digit mobile number.
                    </div>
                  </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="inputBox">
                    <input
                      type="text"
                      required="required"
                      formControlName="fatherOrHusband"
                    />
                    <span class="user">Father/Husband Name</span>
                    <div
                    *ngIf="requestForm.get('fatherOrHusband')!.invalid && (requestForm.get('fatherOrHusband')!.dirty || requestForm.get('fatherOrHusband')!.touched)"
                    style="color: red;">
                    <div *ngIf="requestForm.get('fatherOrHusband')!.errors?.['required']">
                      field is required.
                    </div>
                  </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="selectBox" >
                    <select  class="form-select" required="required" formControlName="city">
                      <option aria-placeholder=true selected disabled >City</option>
                      <option *ngFor="let c of cities" [value]="c.name">{{c.name}}</option>
                     </select>
                     <span class="user">City</span>
                     <div
                    *ngIf="requestForm.get('city')!.invalid && (requestForm.get('city')!.dirty || requestForm.get('city')!.touched)"
                    style="color: red;">
                    <div *ngIf="requestForm.get('city')!.errors?.['required']">
                     Please select city.
                    </div>
                  </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="selectBox">
                    <select class="form-select" required="required"  formControlName="bloodGroup">
                      <option aria-placeholder=true selected disabled >Blood Group</option>
                      <option *ngFor="let group of bloodGroup" [value]="group.name">{{group.name}}</option>
                    </select>
                    <span class="user">Blood Group</span>
                    <div
                    *ngIf="requestForm.get('bloodGroup')!.invalid && (requestForm.get('bloodGroup')!.dirty || requestForm.get('bloodGroup')!.touched)"
                    style="color: red;">
                    <div *ngIf="requestForm.get('bloodGroup')!.errors?.['required']">
                     Please select Blood Group.
                    </div>
                  </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="inputBox">
                    <input
                      type="text"
                      required="required"
                      formControlName="illness"
                    />
                    <span class="user">Illness</span>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="inputBox">
                    <input
                      type="date"
                      required="required"
                      formControlName="bloodRequireDate"
                    />
                    <span class="user">Require Date</span>
                    <div
                    *ngIf="requestForm.get('bloodRequireDate')!.invalid && (requestForm.get('bloodRequireDate')!.dirty || requestForm.get('bloodRequireDate')!.touched)"
                    style="color: red;">
                    <div *ngIf="requestForm.get('bloodRequireDate')!.errors?.['required']">
                     Please select Date.
                    </div>
                  </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <div class="mb-3">
                  <div class="inputBox">
                    <input
                      type="number"
                      required="required"
                      formControlName="age"
                    />
                    <span class="user">Age</span>
                    <div
                    *ngIf="
                      requestForm.get('age')!.invalid &&
                      (requestForm.get('age')!.dirty ||
                      requestForm.get('age')!.touched)
                    "
                    style="color: red"
                  >
                    <div *ngIf="requestForm.get('age')!.errors?.['required']">
                      Age is required.
                    </div>
                  </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="selectBox" >
                   <select class="form-select" required="required" formControlName="gender">
                      <option aria-placeholder="true" selected disabled> Gender</option>
                      <option *ngFor="let group of gender" [value]="group.type"> {{group.type}} </option>
                    </select>
                    <span class="user">Gender</span>
                    <div
                    *ngIf="requestForm.get('gender')!.invalid && (requestForm.get('gender')!.dirty || requestForm.get('gender')!.touched)"
                    style="color: red;">
                    <div *ngIf="requestForm.get('gender')!.errors?.['required']">
                     Please select gender.
                    </div>
                  </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="selectBox" >
                    <select  class="form-select"  required="required" (change)="getCity($event)" formControlName="state">
                      <option aria-placeholder=true selected disabled >State</option>
                      <option *ngFor="let s of states" [value]="s.isoCode">{{s.name}}</option>
                     </select>
                     <span class="user">State</span>
                     <div
                     *ngIf="requestForm.get('state')!.invalid && (requestForm.get('state')!.dirty || requestForm.get('state')!.touched)"
                     style="color: red;">
                     <div *ngIf="requestForm.get('state')!.errors?.['required']">
                      Please select state.
                     </div>
                   </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="inputBox">
                    <input
                      type="text"
                      required="required"
                      formControlName="location"
                    />
                    <span class="user">Location</span>
                    <div
                     *ngIf="requestForm.get('location')!.invalid && (requestForm.get('location')!.dirty || requestForm.get('location')!.touched)"
                     style="color: red;">
                     <div *ngIf="requestForm.get('location')!.errors?.['required']">
                      Please enter locality.
                     </div>
                   </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="inputBox">
                    <input
                      type="text"
                      required="required"
                      formControlName="hemoglobin"
                    />
                    <span class="user">Hemoglobin</span>
                    <div
                    *ngIf="requestForm.get('hemoglobin')!.invalid && (requestForm.get('hemoglobin')!.dirty || requestForm.get('hemoglobin')!.touched)"
                    style="color: red;">
                    <div *ngIf="requestForm.get('hemoglobin')!.errors?.['required']">
                     Please Add Hemoglobin.
                    </div>
                  </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="inputBox">
                    <input
                      type="number"
                      required="required"
                      formControlName="units"
                    />
                    <span class="user">Unit</span>
                    <div
                    *ngIf="
                      requestForm.get('units')!.invalid &&
                      (requestForm.get('units')!.dirty ||
                      requestForm.get('units')!.touched)
                    "
                    style="color: red"
                  >
                    <div *ngIf="requestForm.get('units')!.errors?.['required']">
                      Enter unit.
                    </div>
                  </div>
                  </div>
                </div>
              </div>

              <div class="submit">
                <button class="button" (click)="submit()">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
