<section id="privacy">
  <div class="container">
    <div class="row">
      <div class="card headcard">
        <p class="head">PRIVACY POLICY</p>
      </div>
    </div>
    <div class="row">
      <div class="card termcard">
        <div class="subhead">Privacy Policy</div>
        <div class="body">
          This Website is owned and operated by LifeBlood Council. We recognise
          that visitors to our site may be concerned about the information they
          provide to us and how we treat that information. LifeBlood Council is
          committed to ensuring that your privacy is protected. <br />

          This Privacy Policy addresses those concerns. This policy may be
          changed or updated from time to time. You should check this page from
          time to time to ensure that you are happy with any changes. This
          policy is effective from 01/09/2023. <br />

          If you have any questions about our Privacy Policy, you may contact us
          at: <br />

          Jankalyan A-101, Valmiki Apartments, Sunder Nagar, Raipur, Chhatisgarh
          400 098 | Ph: +91 98201 46448 | E-mail: jankalyan@gamil.com
        </div>

        <div class="subhead">Personal Information</div>
        <div class="body">
          LifeBlood Council uses its best efforts to respect the privacy of its
          online visitors. At our site, we do not collect personally
          identifiable information from individuals unless they provide it to us
          voluntarily and knowingly. This means we do not require you to
          register or provide information to us in order to view our website.
          LifeBlood Council only gathers personally identifiable data, such as
          names, addresses, zip/postal codes, e-mail addresses, etc., when
          voluntarily submitted by a visitor. For example, we ask for personal
          information on our online donation pages, and use this information to
          acknowledge receipt of your donation for tax purposes. <br />

          LifeBlood Council does not sell or trade such information collected to
          third parties. We will not share personally identifiable information
          with third parties unless authorised by the person submitting the
          information or required by law.
        </div>

        <div class="subhead">Donations</div>
        <div class="body">
          We request information from the visitor on our donation form. A
          visitor must provide contact information (such as name, e-mail and
          mailing address) and payment information (such as credit card number
          and expiration date). This information is used for billing purposes
          and for sending receipt of the donation. <br />

          If we have trouble processing a donation, the information is used by
          us to contact the visitor. If the visitor has given permission for the
          information’s release, the visitor’s name and contact information may
          be shared with carefully selected organizations and charities we feel
          our donors would want to know about. Where requested, we will provide
          information on larger donations to appropriate charities and donors
          for tax purposes. Financial and credit card information are NEVER
          released.
        </div>

        <div class="subhead">Referrals</div>
        <div class="body">
          If a visitor elects to use our referral service for informing a friend
          about our site, we ask them for the friend’s name and e-mail address.
          LifeBlood Council will automatically send the friend a one-time e-mail
          with an introduction to LifeBlood Council and an invitation to visit
          the site. The one-time e-mail will include the name of the person
          making the referral. LifeBlood Council stores this information for the
          sole purpose of sending this one-time e-mail and tracking the success
          of our referral program. The friend may contact LifeBlood Council at
          unsubscribe (jankalyan@gamil.com) to request the removal of this
          information from our database.
        </div>
      </div>
    </div>
  </div>
</section>
