<ion-toolbar color="primary">
  <ion-title mode="md">{{'calendar' | translate}}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismiss()">{{'close' | translate}}</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-datetime
    [(ngModel)]="date"
    placeholder="Select Date"
    max="2050" 
    presentation="date"
  >
  </ion-datetime>

  <div class="clearfix ion-padding-top ion-padding">
    <ion-button
      (click)="closeModal()"
      expand="block"
      class="btn-color-1 btn-height-large"
      type="submit"
    >
      {{'save' | translate}}
    </ion-button>
  </div>
</ion-content>
