ion-card-header{
    background-color: grey;
}
ion-card-title{
    --color: var(--ion-color-light);
}

.head{
    font-weight: 600;
    font-size: 1rem;
}

.donor-illness{
    padding-left: 3px;
}


//profile

.overlay-icon {
    position: absolute;
    top: 85%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
  .margin-top {
    margin-top: 11px;
  }
  // .margin-img {
  //   margin-top: 6rem;
  // }
  .edit-btn {
    width: 100%;
  }
  
  img {
    text-align: center;
    margin: auto !important;
  }
  .logo{
      margin-top: 2rem;
      .logo-img {
          width: 74%;
        }
  }
  .head{
    font-weight: bold;
  }
  
  .avatar {
    margin: auto;
    width: 8em;
    height: 8em;
  }
  .fontSize {
    font-size: 1.15rem;
  }
  