<section class="gallery" id="gallery">
    <div class="container-fluid">
      <div class="row">
        <div class="text-center">Gallery</div>
      </div>
      <div class="row imgrow">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 img">
          <img
            src="../../../assets/gallery/1jpeg.jpeg"
            class="img-fluid w-100"
            alt=""
          />
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 img">
          <img
            src="../../../assets/gallery/2jpeg.jpeg"
            class="img-fluid w-100"
            alt=""
          />
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 img">
          <img
            src="../../../assets/gallery/3jpeg.jpeg"
            class="img-fluid w-100"
            alt=""
          />
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 img">
          <img
            src="../../../assets/gallery/4jpeg.jpeg"
            class="img-fluid w-100"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
