<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" default-href="/layout/home"></ion-back-button>
    <ion-title>Edit-Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="editRegistrationForm">
        <ion-item>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="11">
                <ion-item class="input-class">
                  <i class="ion-padding-horizontal fa-solid fa-circle-user"></i>
                  <ion-input
                    
                    formControlName="firstName"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="11">
                <ion-item class="input-class">
                  <i class="ion-padding-horizontal fa-solid fa-user"></i>
                  <ion-input
                    labelPlacement="stacked"
                    
                    formControlName="lastName"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row
              class="ion-align-items-center ion-justify-content-center"
              
            >
              <ion-col size="11">
                <ion-item class="input-class">
                  <i class="ion-padding-horizontal fa-solid fa-envelope"></i>
                  <ion-input
                    labelPlacement="stacked"
                  
                    formControlName="email"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row
              class="ion-align-items-center ion-justify-content-center"
              
            >
              <ion-col size="11">
                <ion-item class="input-class">
                  <i
                    class="ion-padding-horizontal fa-solid fa-mobile-retro"
                  ></i>
                  <ion-input
                    labelPlacement="stacked"
                  
                    formControlName="mobileNo"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row
              class="ion-align-items-center ion-justify-content-center"
              
            >
              <ion-col size="11">
                <ion-item class="input-class">
                  <ion-input
                    label="State"
                    labelPlacement="stacked"
                   
                    placeholder="state"
                    formControlName="state"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row
              class="ion-align-items-center ion-justify-content-center"
             
            >
              <ion-col size="11">
                <ion-item class="input-class">
                  <ion-input
                    label="City"
                    labelPlacement="stacked"
                 
                    placeholder="city"
                    formControlName="city"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="7">
                <ion-button
                  expand="block"
                  class="button ion-justify-content-end ion-padding"
                  color="primary"
                  (click)="update()"
                  >Save

                  <!-- <img class="editForm" src="../../../assets/edit (1).png" alt=""> -->
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
