<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" default-href="/layout/home"></ion-back-button>

    <ion-title class="ion-justify-content-center">Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="bloodRequestForm">
    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked"
                >Name</ion-label
              >
              <ion-input
                placeholder="Full Name"
                formControlName="name"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked"
                >Age</ion-label
              >
              <ion-input placeholder="Age" formControlName="age"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline">
              <ion-select
                aria-label="Gender"
                interface="action-sheet"
                placeholder="Select Gender"
                formControlName="gender"
                (ionChange)="checkGender()"
              >
                <ion-select-option value="MALE">Male</ion-select-option>
                <ion-select-option value="FEMALE">Female</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isFemale" class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked"
                >Father/Husband</ion-label
              >
              <ion-input
                placeholder="Father/Husband"
                formControlName="fatherOrHusband"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline" class="input">
              <ion-label  *ngIf="!f['bloodRequireDate'].value" position="floating" lablePlacement="stacked"
                >Blood Require Date</ion-label
              >
              <p class="ion-margin-end">
                {{f['bloodRequireDate'].value | date}}
              </p>
              <ion-icon
                slot="end"
                color="primary"
                name="calendar-outline"
                datetime="datetime"
                class="ion-margin-top"
                (click)="openCalender(f['bloodRequireDate'].value)"
              ></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked"
                >mobileNo</ion-label
              >
              <ion-input
                placeholder="mobileNo"
                formControlName="mobileNo"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked"
                >location</ion-label
              >
              <ion-input
                placeholder="location"
                formControlName="location"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline">
              <ion-select
                aria-label="bloodGroup"
                interface="action-sheet"
                placeholder="Select Blood Group"
                formControlName="bloodGroup"
              >
              
                <ion-select-option *ngFor="let item of bloodGroup" value="{{item}}">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked"
                >hemoglobin</ion-label
              >
              <ion-input
                placeholder="hemoglobin"
                formControlName="hemoglobin"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked"
                >units</ion-label
              >
              <ion-input
                placeholder="units"
                formControlName="units"
                type="number"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline">
              <ion-label position="floating" lablePlacement="stacked"
                >State
              </ion-label>
              <ionic-selectable
                item-content
                class="ion-text-capilatize"
                #selectableState
                [items]="states"
                itemTextField="name"
                itemValueField="name"
                [canSearch]="true"
                (onChange)="getCity($event)"
                [hasConfirmButton]="true"
                [hasInfiniteScroll]="true"
              >
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar class="bg-color-2">
                    <ion-buttons slot="start">
                      <ion-button
                        class="text-color-4"
                        (click)="selectableState.close()"
                      >
                        <ion-icon name="arrow-back-outline"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                    <ion-title
                      class="text-color-4 ion-text-capitalize ion-text-wrap"
                    >
                      State
                    </ion-title>
                  </ion-toolbar>
                </ng-template>
                <ng-template ionicSelectableItemTemplate let-port="item">
                  <ion-label class="ion-text-capitalize ion-text-wrap">
                    {{port?.name}}
                  </ion-label>
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12" class="ion-justify-content-between">
            <ion-item fill="outline">
              <ion-label position="floating" lablePlacement="stacked">
                City
              </ion-label>
              <ionic-selectable
                item-content
                class="ion-text-capilatize"
                #selectableCity
                [items]="cities"
                itemTextField="name"
                itemValueField="name"
                [canSearch]="true"
                [hasConfirmButton]="true"
                [hasInfiniteScroll]="true"
                (onChange)="setCity($event)"
              >
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar class="bg-color-2">
                    <ion-buttons slot="start">
                      <ion-button
                        class="text-color-4"
                        (click)="selectableCity.close()"
                      >
                        <ion-icon name="arrow-back-outline"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                    <ion-title
                      class="text-color-4 ion-text-capitalize ion-text-wrap"
                    >
                      City
                    </ion-title>
                  </ion-toolbar>
                </ng-template>
                <ng-template ionicSelectableItemTemplate let-port="item">
                  <ion-label class="ion-text-capitalize ion-text-wrap">
                    {{port?.name}}
                  </ion-label>
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>

 
        <!-- <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline">
              <ion-select
                aria-label="Fruit"
                interface="action-sheet"
                placeholder="Select Blood Group"
                formControlName="bloodGroup"
              >
                <ion-select-option value="A_POSITIVE">A+</ion-select-option>
                <ion-select-option value="A_NEGATIVE">A-</ion-select-option>
                <ion-select-option value="B_POSITIVE">B+</ion-select-option>
                <ion-select-option value="B_NEGATIVE">B-</ion-select-option>
                <ion-select-option value="AB_POSITIVE">AB+</ion-select-option>
                <ion-select-option value="AB_NEGATIVE">AB+</ion-select-option>
                <ion-select-option value="O_POSITIVE">O+</ion-select-option>
                <ion-select-option value="O_NEGATIVE">O-</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row> -->
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-item fill="outline" class="input">
              <ion-label position="floating" lablePlacement="stacked"
                >illness</ion-label
              >
              <ion-input
                placeholder="illness"
                formControlName="illness"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-button
              expand="block"
              shape="round"
              class="button ion-padding"
              color="primary"
              (click)="create()"
              >Submit</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
</ion-content>
