<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button
      slot="start"
      default-href="/layout/blood-requests"
      (click)="dismiss()"
    ></ion-back-button>
    <ion-title> My List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-accordion-group value="first" class="ion-padding">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <i class="fa-solid fa-file-lines"></i>
        <ion-label class="ion-padding-horizontal"
          >Blood Request Details</ion-label
        >
      </ion-item>
      <div class="ion-padding accordion-collapsed" slot="content">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Name</ion-label>
                  <ion-label>: string</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Age</ion-label>
                  <ion-label>: 0</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Gender</ion-label>
                  <ion-label>: MALE</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Group</ion-label>
                  <ion-label>: string</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Require Date</ion-label>
                  <ion-label>: 23 March 2024, 9:26 AM</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">City</ion-label>
                  <ion-label>: string</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Father or Husband</ion-label>
                  <ion-label>: string</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Hemoglobin</ion-label>
                  <ion-label>: 0</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Illness</ion-label>
                  <ion-label>: string</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Location</ion-label>
                  <ion-label>: string</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Mobile Number</ion-label>
                  <ion-label>: 0</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">State</ion-label>
                  <ion-label>: string</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Units</ion-label>
                  <ion-label>: 0</ion-label>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <ion-item fill="outline" lines="none">
                    <ion-select
                      aria-label="Fruit"
                      interface="popover"
                      placeholder="Select Mode"
                      formControlName="bloodGroup"
                    >
                      <ion-select-option value="bloodbank"
                        >Blood Bank
                      </ion-select-option>
                      <ion-select-option value="donor"
                        >Donor
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item class="ion-no-padding ion-no-margin" lines="none">
                    <ion-icon  slot="end" color="primary"  name="create-outline" ></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
   
      <ion-accordion value="second" >
        <ion-item slot="header" color="light">
          <i class="fa-solid fa-file-lines"></i>
          <ion-label class="ion-padding-horizontal">Blood Bank Details</ion-label>
        </ion-item>
        <div class="ion-padding accordion-collapsed" slot="content">
          <ion-card>
            <ion-card-content>
              <form>
               
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="12">
                    <ion-label position="floating" lablePlacement="stacked"
                    >Blood Bank</ion-label
                  >
                    <ion-item fill="outline" class="input">
                    
                      <ion-input
                        placeholder="Blood Bank"
                        formControlName="bloodBankName"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
      
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="12">
                    <ion-label position="floating" lablePlacement="stacked"
                    >Location</ion-label
                  >
                    <ion-item fill="outline" class="input">
                     
                      <ion-input
                        placeholder="Location"
                        formControlName="location"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="12">
                    <ion-label position="floating" lablePlacement="stacked"
                    >Donation Date</ion-label>
                    <ion-item fill="outline">
                    
                      <p class="ion-margin-end"></p>
                      <ion-icon
                        slot="end"
                        color="primary"
                        name="calendar-outline"
                        datetime="datetime"
                        class="ion-margin-top"
                       
                      ></ion-icon>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-text-center">
                  <ion-col>
                    <ion-button expand="block" >Allocate</ion-button>
                  </ion-col>
                  <ion-col >
                    <ion-button expand="block" >Re-Allocate</ion-button>
                  </ion-col>
                </ion-row>
              </form>
              
              <ion-grid>
                <ion-item class="ion-no-padding ion-no-margin" lines="none">
                  <ion-icon  slot="end" color="primary"  name="create-outline" ></ion-icon>
                </ion-item>
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="head">Blood Bank Name </ion-label>
                    <ion-label> : </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="head">Location </ion-label>
                    <ion-label> : </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="head">Donation Date </ion-label>
                    <ion-label> : </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
  
         
        </div>
      </ion-accordion>
   
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <i class="fa-solid fa-droplet"></i>
        <ion-label class="ion-padding-horizontal">Blood Donar</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-content>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="8">
                <ion-item fill="outline" lines="none">
                  <ion-select
                    aria-label="Fruit"
                    interface="popover"
                    placeholder="Select Donar Name"
                    formControlName="bloodGroup"
                  >
                    <ion-select-option value="A_POSITIVE"
                      >ABC Surname
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button>Assign</ion-button>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-button>Re-Assign</ion-button>
              </ion-col>
            </ion-row>
           
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-label>
                  Create New Donar
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button (click)="navigate()">New Donar</ion-button>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col class="ion-text-center">
                <ion-button>Submit</ion-button>
              </ion-col>
            </ion-row> -->
            <ion-grid>
              <ion-row class="ion-text-center">
                <ion-col size="12">
                  <ion-label class="donar-details">Donar Details</ion-label>
                </ion-col> 
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Name</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Age</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Gender</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Group</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Require Date</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">State</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">City</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col size="12">
                  <ion-label class="head">Father/Husband</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Hemoglobin</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Illness</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Location</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Mobile Number</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
  
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Units</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
