<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button
      slot="start"
      default-href="/layout/blood-requests"
      (click)="dismiss()"
    ></ion-back-button>
    <ion-title> My List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-accordion-group value="first" class="ion-padding">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <i class="fa-solid fa-file-lines"></i>
        <ion-label class="ion-padding-horizontal"
          >Blood Request Details</ion-label
        >
      </ion-item>
      <div class="ion-padding accordion-collapsed" slot="content">
        <ion-card>
          <ion-card-content>
            <ion-grid >
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Name</ion-label>
                  <ion-label>: {{data.name}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Age</ion-label>
                  <ion-label>:  {{data.age}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Gender</ion-label>
                  <ion-label>: {{data.gender}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Group</ion-label>
                  <ion-label>: {{data.bloodGroup}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Require Date</ion-label>
                  <ion-label>: {{data.bloodRequireDate}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">State</ion-label>
                  <ion-label>: {{data.state}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">City</ion-label>
                  <ion-label>: {{data.city}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Father or Husband</ion-label>
                  <ion-label>: {{data.fatherOrHusband}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Hemoglobin</ion-label>
                  <ion-label>: {{data.hemoglobin}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Illness</ion-label>
                  <ion-label>: {{data.illness}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Location</ion-label>
                  <ion-label>: {{data.location}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Mobile Number</ion-label>
                  <ion-label>: {{data.mobileNo}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Units</ion-label>
                  <ion-label>: {{data.units}}</ion-label>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <ion-item fill="outline" lines="none">
                    <ion-select
                      aria-label="Fruit"
                      interface="popover"
                      placeholder="Select Mode"
                      [(ngModel)]="providedBy"
                      [disabled]="isDisabled"
                    >
                      <ion-select-option value="BLOOD_BANK"
                        >Blood Bank
                      </ion-select-option>
                      <ion-select-option value="DONOR"
                        >Donor
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <!-- <ion-col>
                  <ion-item class="ion-no-padding ion-no-margin" lines="none">
                    <ion-icon  slot="end" color="primary"  name="create-outline" ></ion-icon>
                  </ion-item>
                </ion-col> -->
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
   
      <ion-accordion value="second" *ngIf="providedBy == 'BLOOD_BANK'" >
        <ion-item slot="header" color="light">
          <i class="fa-solid fa-file-lines"></i>
          <ion-label class="ion-padding-horizontal">Blood Bank Details</ion-label>
        </ion-item>
        <div class="ion-padding accordion-collapsed" slot="content">
          <ion-card>
            <ion-card-content>
              <form [formGroup]="bloodRequestAllocateForm" *ngIf="edit">
               
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="12">
                    <ion-label position="floating" lablePlacement="stacked"
                    >Blood Bank</ion-label
                  >
                    <ion-item fill="outline" class="input">
                    
                      <ion-input
                        placeholder="Blood Bank"
                        formControlName="bloodBankName"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
      
                <!-- <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="12">
                    <ion-label position="floating" lablePlacement="stacked"
                    >State</ion-label
                  >
                    <ion-item fill="outline" class="input">
                     
                      <ion-input
                        placeholder="State"
                        formControlName="bankState"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
            
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="12">
                    <ion-label position="floating" lablePlacement="stacked"
                    >City</ion-label
                  >
                    <ion-item fill="outline" class="input">
                     
                      <ion-input
                        placeholder="City"
                        formControlName="bankCity"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row> -->

                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="12">
                    <ion-item fill="outline">
                      <ion-label position="floating" lablePlacement="stacked"
                        >State
                      </ion-label>
                      <ionic-selectable
                        item-content
                        class="ion-text-capilatize"
                        #selectableState
                        [items]="states"
                        itemTextField="name"
                        itemValueField="name"
                        [canSearch]="true"
                        (onChange)="getCity($event)"
                        [hasConfirmButton]="true"
                        [hasInfiniteScroll]="true"
                      >
                        <ng-template ionicSelectableHeaderTemplate>
                          <ion-toolbar class="bg-color-2">
                            <ion-buttons slot="start">
                              <ion-button
                                class="text-color-4"
                                (click)="selectableState.close()"
                              >
                                <ion-icon name="arrow-back-outline"></ion-icon>
                              </ion-button>
                            </ion-buttons>
                            <ion-title
                              class="text-color-4 ion-text-capitalize ion-text-wrap"
                            >
                              State
                            </ion-title>
                          </ion-toolbar>
                        </ng-template>
                        <ng-template ionicSelectableItemTemplate let-port="item">
                          <ion-label class="ion-text-capitalize ion-text-wrap">
                            {{port?.name}}
                          </ion-label>
                        </ng-template>
                      </ionic-selectable>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="12" class="ion-justify-content-between">
                    <ion-item fill="outline">
                      <ion-label position="floating" lablePlacement="stacked">
                        City
                      </ion-label>
                      <ionic-selectable
                        item-content
                        class="ion-text-capilatize"
                        #selectableCity
                        [items]="cities"
                        itemTextField="name"
                        itemValueField="name"
                        [canSearch]="true"
                        [hasConfirmButton]="true"
                        [hasInfiniteScroll]="true"
                        (onChange)="setCity($event)"
                      >
                        <ng-template ionicSelectableHeaderTemplate>
                          <ion-toolbar class="bg-color-2">
                            <ion-buttons slot="start">
                              <ion-button
                                class="text-color-4"
                                (click)="selectableCity.close()"
                              >
                                <ion-icon name="arrow-back-outline"></ion-icon>
                              </ion-button>
                            </ion-buttons>
                            <ion-title
                              class="text-color-4 ion-text-capitalize ion-text-wrap"
                            >
                              City
                            </ion-title>
                          </ion-toolbar>
                        </ng-template>
                        <ng-template ionicSelectableItemTemplate let-port="item">
                          <ion-label class="ion-text-capitalize ion-text-wrap">
                            {{port?.name}}
                          </ion-label>
                        </ng-template>
                      </ionic-selectable>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-text-center">
                  <ion-col *ngIf="!data.bloodBankName">
                    <ion-button expand="block" (click)="allocate()">Allocate</ion-button>
                  </ion-col>
                  <ion-col *ngIf="data.bloodBankName">
                    <ion-button expand="block" (click)="allocate()">Re-Allocate</ion-button>
                  </ion-col>
                </ion-row>
              </form>
              
              <ion-grid *ngIf="!edit">
                <ion-item class="ion-no-padding ion-no-margin" lines="none">
                  <ion-icon  *ngIf="data.status != 'DONE' && data.status != 'RECEIVED'" slot="end" color="primary"  name="create-outline" (click)="editData()"></ion-icon>
                </ion-item>
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="head">Blood Bank Name </ion-label>
                    <ion-label> : {{data?.bloodBankName}} </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="head">State </ion-label>
                    <ion-label> : {{data?.bankState}}  </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="head">City </ion-label>
                    <ion-label> : {{data?.bankCity}} </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
  
         
        </div>
      </ion-accordion>
   
    <ion-accordion value="third" *ngIf="providedBy == 'DONOR'">
      <ion-item slot="header" color="light">
        <i class="fa-solid fa-droplet"></i>
        <ion-label class="ion-padding-horizontal">Blood Donar</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-content>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="8">
                <ion-item fill="outline" lines="none"  label="Select Option">
                  <ion-label class="box-text" position="stacked">Select Option</ion-label>
                  <ionic-selectable
                  item-content
                  class="ion-text-capilatize"
                  #selectableDonor
                  [items]="donorData"
                  itemTextField="name"
                  itemValueField="id"
                  [canSearch]="true"
                  (onChange)="selectDonor($event)"
                  [hasConfirmButton]="true"
                  [hasInfiniteScroll]="true"
                >
                  <ng-template ionicSelectableHeaderTemplate>
                    <ion-toolbar class="bg-color-2">
                      <ion-buttons slot="start">
                        <ion-button
                          class="text-color-4"
                          (click)="selectableDonor.close()"
                        >
                          <ion-icon name="arrow-back-outline"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <ion-title
                        class="text-color-4 ion-text-capitalize ion-text-wrap"
                      >
                        Donor
                      </ion-title>
                    </ion-toolbar>
                  </ng-template>
                  <!-- <ng-template ionicSelectableItemTemplate let-port="item">
                    <ion-label class="ion-text-capitalize ion-text-wrap">
                      {{port?.name}}
                    </ion-label>
                  </ng-template> -->
                </ionic-selectable>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center" *ngIf="!!data.donor">
                <ion-button>Assign</ion-button>
              </ion-col>
              <ion-col class="ion-text-center" *ngIf="!data.donor">
                <ion-button>Re-Assign</ion-button>
              </ion-col>
            </ion-row>
           
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-label>
                  Create New Donar
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button (click)="navigate()">New Donar</ion-button>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col class="ion-text-center">
                <ion-button>Submit</ion-button>
              </ion-col>
            </ion-row> -->
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Name</ion-label>
                  <ion-label>: {{data.name}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Age</ion-label>
                  <ion-label>:  {{data.age}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Gender</ion-label>
                  <ion-label>: {{data.gender}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Group</ion-label>
                  <ion-label>: {{data.bloodGroup}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Blood Require Date</ion-label>
                  <ion-label>: {{data.bloodRequireDate}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">State</ion-label>
                  <ion-label>: {{data.state}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">City</ion-label>
                  <ion-label>: {{data.city}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Father or Husband</ion-label>
                  <ion-label>: {{data.fatherOrHusband}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Hemoglobin</ion-label>
                  <ion-label>: {{data.hemoglobin}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Illness</ion-label>
                  <ion-label>: {{data.illness}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Location</ion-label>
                  <ion-label>: {{data.location}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Mobile Number</ion-label>
                  <ion-label>: {{data.mobileNo}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Units</ion-label>
                  <ion-label>: {{data.units}}</ion-label>
                </ion-col>
              </ion-row>
  
              <ion-row>
                <ion-col size="12">
                  <ion-label class="head">Units</ion-label>
                  <ion-label>: </ion-label>
                </ion-col>
              </ion-row>
              
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
