<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" default-href="/layout/home"></ion-back-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
       <img src="../../../../assets/icon/73-730477_first-name-profile-image-placeholder-png.png" alt="">
      </ion-item>
      <ion-item lines="none"><ion-label>Full Name </ion-label> </ion-item>
      <ion-item lines="none">
        <ion-label>Mobile Number</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
