<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" default-href="/layout/home"></ion-back-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" class="margin-img">
    <ion-avatar class="avatar border-color-7">
      <img
        class="profile-img"
        *ngIf="!profile"
        src="../../../../assets/icon/73-730477_first-name-profile-image-placeholder-png.png"
        alt="mainPofile"
      />
      <img *ngIf="!!profile" src="{{profile}}" alt="mainPofile" />
      <ion-icon name="camera" class="overlay-icon" (click)="uploadFile()"></ion-icon>
    </ion-avatar>
  </ion-item>

  <ion-list class="margin-top">
    <ion-item>
      <ion-icon name="person-circle"></ion-icon>
      <ion-label class="head ion-margin-start ">
      Full Name
        <h3 class="fontSize">{{user?.firstName}} {{user?.lastName}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon  name="mail"></ion-icon>
      <ion-label class="head ion-margin-start ">
      Email
        <h3 class="fontSize">{{user?.email}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call"></ion-icon>
      <ion-label class="head ion-margin-start ">
      Mobile Number
        <h3 class="fontSize">{{user?.mobileNo}}</h3>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-button
      expand="block"
      class="edit-btn ion-justify-content-end ion-padding"
      color="primary"
      (click)="navigate()"
      >Edit
    </ion-button>
    </ion-item>
   

  </ion-list>
  <ion-item class="logo" lines="none">
    <img class="logo-img" src="../../../assets/bloodLogo.jpg
    " alt="">
    <ion-badge color="primary">
      {{'changeProfile' | translate}}
    </ion-badge>
 
  </ion-item>
    
</ion-content>

<!-- <ion-text class="change-profile" (click)="uploadFile()">
          <img class="edit" src="../../../assets/edit.png" alt="">
          <ion-badge color="primary">
            {{'changeProfile' | translate}}
          </ion-badge>
        </ion-text>  -->
<!-- <form [formGroup]="registrationForm">
        <ion-item lines="none">
          <img *ngIf="!profile"
            src="../../../../assets/icon/73-730477_first-name-profile-image-placeholder-png.png"
            alt=""
          />
          <img *ngIf="!!profile"
          src={{profile}}
          alt=""
        />
        </ion-item>
       
        
        <ion-row class="ion-justify-content-end">
          <ion-item lines="none" (click)="uploadFile()">
            <ion-icon name="create"></ion-icon>
          </ion-item>
        </ion-row>
        <ion-item>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="11">
                <ion-item class="input-class">
                  <i class="ion-padding-horizontal fa-solid fa-circle-user"></i>
                  <ion-input
                    [readonly]="!isEditable"
                    formControlName="firstName"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="11">
                <ion-item class="input-class">
                  <i class="ion-padding-horizontal fa-solid fa-user"></i>
                  <ion-input
                    labelPlacement="stacked"
                    [readonly]="!isEditable"
                    formControlName="lastName"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row
              class="ion-align-items-center ion-justify-content-center"
              *ngIf="!!user?.email"
            >
              <ion-col size="11">
                <ion-item class="input-class">
                  <i class="ion-padding-horizontal fa-solid fa-envelope"></i>
                  <ion-input
                    labelPlacement="stacked"
                    [readonly]="!isEditable"
                    formControlName="email"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row
              class="ion-align-items-center ion-justify-content-center"
              *ngIf="!!user?.mobileNo"
            >
              <ion-col size="11">
                <ion-item class="input-class">
                  <i
                    class="ion-padding-horizontal fa-solid fa-mobile-retro"
                  ></i>
                  <ion-input
                    labelPlacement="stacked"
                    [readonly]="!isEditable"
                    formControlName="mobileNo"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row
              class="ion-align-items-center ion-justify-content-center"
              *ngIf="!!user?.state"
            >
              <ion-col size="11">
                <ion-item class="input-class">
                  <i class="ion-padding-horizontal fa-solid fa-location-dot"></i>
                  <ion-input
                   
                    labelPlacement="stacked"
                    [readonly]="!isEditable"
                    placeholder="state"
                    formControlName="state"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row
              class="ion-align-items-center ion-justify-content-center"
              *ngIf="!!user?.city"
            >
              <ion-col size="11">
                <ion-item class="input-class">
                  <i class="ion-padding-horizontal fa-solid fa-city"></i>
                  <ion-input
                   
                    labelPlacement="stacked"
                    [readonly]="!isEditable"
                    placeholder="city"
                    formControlName="city"
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="7">
                <ion-button
                  expand="block"
                  class="button ion-justify-content-end ion-padding"
                  color="primary"
                  (click)="navigate()"
                  >Edit
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </form> -->
