<div class="que">
    <!-- <form class="form-horizontal"> -->
        <div class="row mb-2  ">
            <div class="col-4">
                <label class="form-label">Select Bill Type : </label>
                <select  class="form-select" name="bill" [(ngModel)]="selectedBillType"  >
                  
                  <option *ngFor="let b of billType" [value]="b.value">{{ b.label }}</option>
                </select>
              </div>
          <div class="col-4">
            <label class="form-label">Select Consumer Type : </label>
            <select  class="form-select" name="consumer" [(ngModel)]="selectedConsumerType" >
            
              <option *ngFor="let c of consumerType" [value]="c.value">{{ c.label }}</option>
            </select>
          
          </div>
          <div class="col-4  mt-4 ">
             
            <button class="btn btn-primary" (click)="getQue()" >Get Questions</button>
          </div>
          
        
      
        </div>
        
      
      <!-- </form> -->
     
</div>
<div class="acc mb-2" *ngIf="flag">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="Filters">
      <ng-template ngbPanelContent>
        <div class="questions mt-2">
<div class="accbtn">
  <button class="btn btn-primary " (click)="getAll()" >Apply Filter</button>
  <button class="btn btn-primary" (click)="clearAll()" >Clear</button>
</div>
          
  
          <div class="row mb-2">
      
            <div class="col-4 mt-2" *ngFor="let dropdown of dropdowns">
              <label class="form-label">{{ dropdown.label }}</label>
              <select class="form-select" [(ngModel)]='dropdown.answer' (change)="selectedQue($event,dropdown)">
                <option [value]="null">Select</option>
                <option *ngFor="let option of dropdown.options" [value]="option">{{ option }}</option>
              </select>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="name">Customer Name:</label>
                <input type="text" id="name" class="form-control" [(ngModel)]="name" name="name">
              </div>
            </div>
          </div>
         
       </div>
      </ng-template>
    </ngb-panel>
   
  </ngb-accordion>
</div>

  

<table class="table table-striped table-hover table-bordered table-sticky">
    <thead class="table-primary">
      <tr>
        <th>Sr.No</th>
        <th>customerNo</th>
        <th>customerName</th>
        <th>billType</th>
        <th>address</th>
        <th>pinCode</th>
        <th>dateOfConnection</th>
        <th>tariff</th>
  
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let u of customer; let i = index">
      <td>{{ pageSize * (page - 1) + (i + 1) }}</td>
      <td>{{u.consumerNo}}</td>
      <td>{{ u.consumerName }}</td>
      <td>{{u.billType}}</td>
      <td>{{u.address}}</td>
      <td>{{u.pinCode}}</td>
      <td>{{u.dateOfConnection}}</td>
      <td>{{u.tariff}}</td>
    
    </tr>
  </tbody>
    
  </table>

 
  
  <hr/>
  
 
 