<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" default-href="/layout/home" (click)="dismiss()"></ion-back-button>
    <ion-title>{{'changeLanguage' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-radio-group [(ngModel)]="currentLanguage" (ionChange)="change($event.detail.value)">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-item lines="none">
            <ion-row>
              <ion-col>
                <ion-radio value="en" aria-label="English"></ion-radio>
              </ion-col>
              <ion-col>
                <div class="ion-padding-start">English</div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item lines="none">
            <ion-row>
              <ion-col>
                <ion-radio value="hi" aria-label="Hindi"></ion-radio>
              </ion-col>
              <ion-col>
                <div class="ion-padding-start">Hindi</div>
              </ion-col>
            </ion-row>
            
           
          </ion-item>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </ion-radio-group>
</ion-content>