.meta {
    height: 100vh !important;
    background-image: url(../../../assets/img/bg1.jpg);
    background-size: cover;
}

.custom {
    margin-top: 8rem;
}

.login {
    border: 0;
}

.line {
    line-height: 20px;
}