<div class="container-fluid animated fadeIn">
  <form [formGroup]="queForm" class="form-horizontal">
    <div class="row justify-content-center">
      <div class="col">
        <label class="form-label">Select Bill Type <span class="text-danger">*</span> </label>
        <ng-select formControlName="billType" [items]="billType" bindLabel="label" bindValue="value" [clearable]="false"
          [multiple]="false">

        </ng-select>
      </div>
      <div class="col mb-2">
        <label class="form-label">Display Name <span class="text-danger">*</span></label>
        <input formControlName="displayName" type="text" class="form-control">
      </div>
       
    </div>
    <div class="row justify-content-center">
      <div class="col-8 mb-2">
        <label class="form-label">Question <span class="text-danger">*</span></label>
        <input formControlName="label" type="text" class="form-control">
      </div>
      <div class="col-4">
        <label class="form-label">Question Type <span class="text-danger">*</span></label>
        <ng-select formControlName="queType" [items]="questionType" bindLabel="label" bindValue="value"
          [clearable]="false" [multiple]="false">

        </ng-select>
      </div>
      <div class="col-6 mb-2">
        <label class="form-label">Options For The Questions </label>
        <input formControlName="options" type="text" class="form-control">
      </div>
      <div class="col-6 mb-2">
        <label class="form-label">Condition </label>
        <input formControlName="condition" type="text" class="form-control">
      </div>

      <div class="col-6 mb-2">
        <label class="form-label">Consumer Type <span class="text-danger">*</span></label>
        <ng-select formControlName="consumerType" [items]="consumerType" bindLabel="label" bindValue="value" [clearable]="false"
        [multiple]="false">

      </ng-select>
      </div>
      <div class="col-6 mb-2">
        <label class="form-label">Phase Number </label>
        <input formControlName="phase" type="number" class="form-control">
      </div>


    </div>
    <div class="row justify-content-center">
      <div class="col mb-2">
        <label class="form-label">Validations </label>
        <input formControlName="validations" type="text" class="form-control">
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-2 mb-2">
        <input formControlName="calculation" type="checkbox" (change)="showCalQuestion()" >
        <label> Use For Calculation</label>
      </div>
      <div *ngIf="showCalQuestionVar" class="col-6 mb-2">
        <label class="form-label">Question For Calculation </label>
        
        <ng-select formControlName="calBasedOn" [items]="masterData" bindLabel="label" bindValue="value" [clearable]="false"
        [multiple]="false" >
      </ng-select>
      </div>
    </div>
    
    <div class="text-center">
      <button (click)="submit()" type="submit" class="btn btn-primary mt-3">
        {{ form._id.value ? "Update" : "Save" }}
      </button>
      <!-- <button (click)="submit()" type="submit" class="btn btn-primary">
        {{ form.id.value ? "Update" : "Save" }}
      </button> -->
      <button (click)="goBack()" class="btn btn-primary mt-3">Cancel</button>

    </div>
  </form>
</div>